<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>1st Navigation Elements</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="../../static/css/1st_Navigation_Elements.css"/>
<script id="applicationScript" type="text/javascript" src="../../static/js/1st_Navigation_Elements.js"></script>
</head>
<body style="background: black">
<div id="n_st_Navigation_Elements">
	<div id="Group_554">
		<svg class="Ellipse_1">
			<ellipse id="Ellipse_1" rx="57.5" ry="54.5" cx="57.5" cy="54.5">
			</ellipse>
		</svg>
	</div>
	<a href="Login.html">
	<img id="Sample_User_Icon" src="../../static/img/Sample_User_Icon.png" srcset="../../static/img/Sample_User_Icon.png 1x, ../../static/img/Sample_User_Icon@2x.png 2x">
		
	</a>
	<svg class="Line_22" viewBox="0 0 291 1">
		<path id="Line_22" d="M 0 0 L 291 0">
		</path>
	</svg>
	<a href="Open_Talent_Splash.html">
	<div id="Group_3011">
		<a href="Open_Talent_Splash.html">
		<div id="cardbuttons" class="card_buttons">
			<svg class="Path_9735" viewBox="0 0 292 232">
				<path id="Path_9735" d="M 52 0 L 240 0 C 268.7188110351563 0 292 23.28119087219238 292 52 L 292 180 C 292 208.7188110351563 268.7188110351563 232 240 232 L 52 232 C 23.28119087219238 232 0 208.7188110351563 0 180 L 0 52 C 0 23.28119087219238 23.28119087219238 0 52 0 Z">
				</path>
			</svg>
			<div id="Talent">
				<span>Talent</span>
			</div>
			<div id="Ecosystem">
				<span>Ecosystem</span>
			</div>
		</div>
		</a>
		<img id="Ellipse_15" src="../../static/img/Ellipse_15.png" srcset="../../static/img/Ellipse_15.png 1x, ../../static/img/Ellipse_15@2x.png 2x">
			
	</div>
	</a>
	<a href="Ecosystem_Learning_embed_of_Learn_Worlds_no_AuthO.html">
	<div id="cardbuttons_bc" class="card_buttons">
		<svg class="Rectangle_272">
			<rect id="Rectangle_272" rx="52" ry="52" x="0" y="0" width="292" height="232">
			</rect>
		</svg>
		<div id="Training_">
			<span>Training </span>
		</div>
		<div id="ecosystem_">
			<span>ecosystem </span>
		</div>
		<svg class="Line_22_bg" viewBox="0 0 291 1">
			<path id="Line_22_bg" d="M 0 0 L 291 0">
			</path>
		</svg>
		<img id="Ellipse_15_bh" src="../../static/img/Ellipse_15_bh.png" srcset="../../static/img/Ellipse_15_bh.png 1x, ../../static/img/Ellipse_15_bh@2x.png 2x">
			
	</div>
	</a>
	<svg class="Rectangle_59">
		<rect id="Rectangle_59" rx="0" ry="0" x="0" y="0" width="912" height="2">
		</rect>
	</svg>
	<div id="n_your_chioce">
		<span></span><span style="color:rgba(53,71,242,1);"> </span><span style="color:rgba(38,128,235,1);">your </span><span style="color:rgba(134,230,133,1);">chioce</span>
	</div>
	<div id="select">
		<span>select</span>
	</div>
	<div id="Group_5">
		<svg class="Ellipse_1_bm">
			<ellipse id="Ellipse_1_bm" rx="35" ry="35" cx="35" cy="35">
			</ellipse>
		</svg>
		<div id="Group_5_bn">
			<svg class="Path_4" viewBox="-1636.09 765.802 20.228 2">
				<path id="Path_4" d="M -1636.089599609375 765.8024291992188 L -1615.862060546875 765.8024291992188">
				</path>
			</svg>
			<svg class="Path_5" viewBox="-1625.652 756.611 9.17 18.586">
				<path id="Path_5" d="M -1625.651611328125 775.197021484375 L -1616.481201171875 765.77294921875 L -1625.651611328125 756.611083984375">
				</path>
			</svg>
		</div>
	</div>
	<a href="Home.html">
	<div id="Group_6">
		<svg class="Ellipse_1_br">
			<ellipse id="Ellipse_1_br" rx="35" ry="35" cx="35" cy="35">
			</ellipse>
		</svg>
		<div id="Group_5_bs">
			<svg class="Path_4_bt" viewBox="-1636.09 765.802 20.228 2">
				<path id="Path_4_bt" d="M -1615.862060546875 765.8024291992188 L -1636.089599609375 765.8024291992188">
				</path>
			</svg>
			<svg class="Path_5_bu" viewBox="-1625.652 756.611 9.17 18.586">
				<path id="Path_5_bu" d="M -1616.481201171875 775.197021484375 L -1625.651611328125 765.77294921875 L -1616.481201171875 756.611083984375">
				</path>
			</svg>
		</div>
	</div>
	</a>
	<div id="Group_7">
		<svg class="Ellipse_1_bw">
			<ellipse id="Ellipse_1_bw" rx="35" ry="35" cx="35" cy="35">
			</ellipse>
		</svg>
		<div id="Group_8">
			<svg class="Ellipse_3">
				<ellipse id="Ellipse_3" rx="9" ry="9" cx="9" cy="9">
				</ellipse>
			</svg>
			<svg class="Line_1" viewBox="0 0 8 9">
				<path id="Line_1" d="M 0 0 L 8 9">
				</path>
			</svg>
		</div>
	</div>

	<a href="Home.html">
	<div id="Home_cf">
		<span>Home</span>
	</div>
	</a>
	<div id="Elements">
		<span>Elements</span>
	</div>
	<div id="Portfolio">
		<span>Portfolio</span>
	</div>
	<div id="Blog">
		<span>Blog</span>
	</div>
	<div id="n_1_cj">
		<span>01</span>
	</div>
	<div id="n_2_ck">
		<span>02</span>
	</div>
	<div id="n_3_cl">
		<span>03</span>
	</div>
	<div id="n_4_cm">
		<span>04</span>
	</div>
	<a href="Home.html">
	<img id="shoshinelogo" src="../../static/img/shoshinelogo.png" srcset="../../static/img/shoshinelogo.png 1x, ../../static/img/shoshinelogo@2x.png 2x">
		
	</a>
	<a href="Ecosystem_Intelligence_Splash_Screen.html">
	<div id="Group_3012">
		<svg class="Path_7" viewBox="0 0 292 232">
			<path onclick="application.goToTargetView(event)" id="Path_7" d="M 52 0 L 240 0 C 268.7188110351563 0 292 31.9599781036377 292 71.38461303710938 L 292 160.6153869628906 C 292 200.0400238037109 268.7188110351563 232 240 232 L 52 232 C 23.28119087219238 232 0 200.0400238037109 0 160.6153869628906 L 0 71.38461303710938 C 0 31.9599781036377 23.28119087219238 0 52 0 Z">
			</path>
		</svg>
		<img id="Ellipse_15_cq" src="../../static/img/Ellipse_15_cq.png" srcset="../../static/img/Ellipse_15_cq.png 1x, ../../static/img/Ellipse_15_cq@2x.png 2x">
			
		<div id="Intelligence_">
			<span>Intelligence </span>
		</div>
		<div id="Ecosystem_cs">
			<span>Ecosystem</span>
		</div>
	</div>
	</a>
	<a href="Open_Innovation_Splash_Screen.html">
	<div id="Group_3013">
		<a href="Open_Innovation_Splash_Screen.html">
		<svg class="Rectangle_272_cu">
			<rect id="Rectangle_272_cu" rx="52" ry="52" x="0" y="0" width="292" height="232">
			</rect>
		</svg>
	</a>
		<img id="Ellipse_15_cv" src="../../static/img/Ellipse_15_cv.png" srcset="../../static/img/Ellipse_15_cv.png 1x, ../../static/img/Ellipse_15_cv@2x.png 2x">
			
		<div id="Innovation_">
			<span>Innovation </span>
		</div>
		<div id="ecosystem__cx">
			<span>ecosystem </span>
		</div>
	</div>
	</a>
</div>
<div id="n_st_Navigation_Elements__1">
	<div id="Group_554_c">
		<svg class="Ellipse_1_c">
			<ellipse id="Ellipse_1_c" rx="40.90885543823242" ry="38.75555419921875" cx="40.90885543823242" cy="38.75555419921875">
			</ellipse>
		</svg>
	</div>
	<a href="Login.html">
	<img id="Sample_User_Icon_c" src="../../static/Sample_User_Icon_c.png" srcset="../../static/Sample_User_Icon_c.png 1x, ../../static/Sample_User_Icon_c@2x.png 2x">
		
	</a>
	<svg class="Line_22_c" viewBox="0 0 291 1">
		<path id="Line_22_c" d="M 0 0 L 291 0">
		</path>
	</svg>
	<a href="Open_Talent_Splash.html">
	<div id="Group_3011_c">
		<a href="Open_Talent_Splash.html">
		<div id="cardbuttons_c" class="card_buttons">
			<svg class="Path_9735_c" viewBox="0 0 233 227.856">
				<path id="Path_9735_c" d="M 41.49314880371094 0 L 191.5068511962891 0 C 214.4228820800781 0 233 22.8653450012207 233 51.07118606567383 L 233 176.7848815917969 C 233 204.99072265625 214.4228820800781 227.8560638427734 191.5068511962891 227.8560638427734 L 41.49314880371094 227.8560638427734 C 18.57711410522461 227.8560638427734 0 204.99072265625 0 176.7848815917969 L 0 51.07118606567383 C 0 22.8653450012207 18.57711410522461 0 41.49314880371094 0 Z">
				</path>
			</svg>
			<div id="Talent_c">
				<span>Talent</span>
			</div>
			<div id="Ecosystem_c">
				<span>Ecosystem</span>
			</div>
		</div>
		</a>
		<img id="Ellipse_15_c" src="../../static/Ellipse_15_c.png" srcset="../../static/Ellipse_15_c.png 1x, ../../static/Ellipse_15_c@2x.png 2x">
			
	</div>
	</a>
	<a href="Ecosystem_Learning_embed_of_Learn_Worlds_no_AuthO.html">
	<div id="cardbuttons_da" class="card_buttons">
		<svg class="Rectangle_272_db">
			<rect id="Rectangle_272_db" rx="52" ry="52" x="0" y="0" width="233.626" height="227.856">
			</rect>
		</svg>
		<div id="Training__dc">
			<span>Training </span>
		</div>
		<div id="ecosystem__dd">
			<span>ecosystem </span>
		</div>
		<svg class="Line_22_de" viewBox="0 0 232.626 1">
			<path id="Line_22_de" d="M 0 0 L 232.6259765625 0">
			</path>
		</svg>
		<img id="Ellipse_15_df" src="../../static/Ellipse_15_df.png" srcset="../../static/Ellipse_15_df.png 1x, ../../static/Ellipse_15_df@2x.png 2x">
			
	</div>
	</a>
	<svg class="Rectangle_59_dg">
		<rect id="Rectangle_59_dg" rx="0" ry="0" x="0" y="0" width="912" height="2">
		</rect>
	</svg>
	<div id="n_your_chioce_dh">
		<span></span><span style="color:rgba(53,71,242,1);"> </span><span style="color:rgba(38,128,235,1);">your </span><span style="color:rgba(134,230,133,1);">chioce</span>
	</div>
	<div id="select_di">
		<span>select</span>
	</div>
	<div id="Group_5_dj">
		<svg class="Ellipse_1_dk">
			<ellipse id="Ellipse_1_dk" rx="35" ry="35" cx="35" cy="35">
			</ellipse>
		</svg>
		<div id="Group_5_dl">
			<svg class="Path_4_dm" viewBox="-1636.09 765.802 20.228 2">
				<path id="Path_4_dm" d="M -1636.089599609375 765.8024291992188 L -1615.862060546875 765.8024291992188">
				</path>
			</svg>
			<svg class="Path_5_dn" viewBox="-1625.652 756.611 9.17 18.586">
				<path id="Path_5_dn" d="M -1625.651611328125 775.197021484375 L -1616.481201171875 765.77294921875 L -1625.651611328125 756.611083984375">
				</path>
			</svg>
		</div>
	</div>
	<a href="Home.html">
	<div id="Group_6_do">
		<svg class="Ellipse_1_dp">
			<ellipse id="Ellipse_1_dp" rx="35" ry="35" cx="35" cy="35">
			</ellipse>
		</svg>
		<div id="Group_5_dq">
			<svg class="Path_4_dr" viewBox="-1636.09 765.802 20.228 2">
				<path id="Path_4_dr" d="M -1615.862060546875 765.8024291992188 L -1636.089599609375 765.8024291992188">
				</path>
			</svg>
			<svg class="Path_5_ds" viewBox="-1625.652 756.611 9.17 18.586">
				<path id="Path_5_ds" d="M -1616.481201171875 775.197021484375 L -1625.651611328125 765.77294921875 L -1616.481201171875 756.611083984375">
				</path>
			</svg>
		</div>
	</div>
	</a>
	<div id="Group_7_dt">
		<svg class="Ellipse_1_du">
			<ellipse id="Ellipse_1_du" rx="35" ry="35" cx="35" cy="35">
			</ellipse>
		</svg>
		<div id="Group_8_dv">
			<svg class="Ellipse_3_dw">
				<ellipse id="Ellipse_3_dw" rx="9" ry="9" cx="9" cy="9">
				</ellipse>
			</svg>
			<svg class="Line_1_dx" viewBox="0 0 8 9">
				<path id="Line_1_dx" d="M 0 0 L 8 9">
				</path>
			</svg>
		</div>
	</div>
	<a href="Home.html">
	<div id="Home_ed">
		<span>Home</span>
	</div>
	</a>
	<div id="Elements_ee">
		<span>Elements</span>
	</div>
	<div id="Portfolio_ef">
		<span>Portfolio</span>
	</div>
	<div id="Blog_eg">
		<span>Blog</span>
	</div>
	<div id="n_1_eh">
		<span>01</span>
	</div>
	<div id="n_2_ei">
		<span>02</span>
	</div>
	<div id="n_3_ej">
		<span>03</span>
	</div>
	<div id="n_4_ek">
		<span>04</span>
	</div>
	<a href="Home.html">
	<img id="shoshinelogo_el" src="../../static/shoshinelogo_el.png" srcset="../../static/shoshinelogo_el.png 1x, ../../static/shoshinelogo_el@2x.png 2x">
		
	</a>
	<a href="Ecosystem_Intelligence_Splash_Screen.html">
	<div id="Group_3012_em">
		<svg class="Path_7_en" viewBox="0 0 233 227.856">
			<path id="Path_7_en" d="M 41.49314880371094 0 L 191.5068511962891 0 C 214.4228820800781 0 233 31.38911437988281 233 70.10955810546875 L 233 157.7464904785156 C 233 196.4669494628906 214.4228820800781 227.8560638427734 191.5068511962891 227.8560638427734 L 41.49314880371094 227.8560638427734 C 18.57711410522461 227.8560638427734 0 196.4669494628906 0 157.7464904785156 L 0 70.10955810546875 C 0 31.38911437988281 18.57711410522461 0 41.49314880371094 0 Z">
			</path>
		</svg>
		<img id="Ellipse_15_eo" src="../../static/Ellipse_15_eo.png" srcset="../../static/Ellipse_15_eo.png 1x, ../../static/Ellipse_15_eo@2x.png 2x">
			
		<div id="Intelligence__ep">
			<span>Intelligence </span>
		</div>
		<div id="Ecosystem_eq">
			<span>Ecosystem</span>
		</div>
	</div>
	</a>
	<a href="Open_Innovation_Splash_Screen.html">
	<div id="Group_3013_er">
		<a href="Open_Innovation_Splash_Screen.html">
		<svg class="Rectangle_272_es">
			<rect id="Rectangle_272_es" rx="52" ry="52" x="0" y="0" width="233" height="227.856">
			</rect>
		</svg>
	</a>
		<img id="Ellipse_15_et" src="../../static/Ellipse_15_et.png" srcset="../../static/Ellipse_15_et.png 1x, ../../static/Ellipse_15_et@2x.png 2x">
			
		<div id="Innovation__eu">
			<span>Innovation </span>
		</div>
		<div id="ecosystem__ev">
			<span>ecosystem </span>
		</div>
	</div>
	</a>
</div>
<div id="n_st_Navigation_Elements__2">
	<div id="Group_554_ey">
		<svg class="Ellipse_1_ez">
			<ellipse id="Ellipse_1_ez" rx="38.333335876464844" ry="40.37036895751953" cx="38.333335876464844" cy="40.37036895751953">
			</ellipse>
		</svg>
	</div>
	<a href="Login.html">
	<img id="Sample_User_Icon_e" src="../../static/Sample_User_Icon_e.png" srcset="../../static/Sample_User_Icon_e.png 1x, ../../static/Sample_User_Icon_e@2x.png 2x">
		
	</a>
	<svg class="Line_22_e" viewBox="0 0 291 1">
		<path id="Line_22_e" d="M 0 0 L 291 0">
		</path>
	</svg>
	<a href="Open_Talent_Splash.html">
	<div id="Group_3011_e">
		<a href="Open_Talent_Splash.html">
		<div id="cardbuttons_e" class="card_buttons">
			<svg class="Path_9735_e" viewBox="0 0 233 227.856">
				<path id="Path_9735_e" d="M 41.49314880371094 0 L 191.5068511962891 0 C 214.4228820800781 0 233 22.8653450012207 233 51.07118606567383 L 233 176.7848815917969 C 233 204.99072265625 214.4228820800781 227.8560638427734 191.5068511962891 227.8560638427734 L 41.49314880371094 227.8560638427734 C 18.57711410522461 227.8560638427734 0 204.99072265625 0 176.7848815917969 L 0 51.07118606567383 C 0 22.8653450012207 18.57711410522461 0 41.49314880371094 0 Z">
				</path>
			</svg>
			<div id="Talent_e">
				<span>Talent</span>
			</div>
			<div id="Ecosystem_e">
				<span>Ecosystem</span>
			</div>
		</div>
		</a>
		<img id="Ellipse_15_e" src="../../static/Ellipse_15_e.png" srcset="../../static/Ellipse_15_e.png 1x, ../../static/Ellipse_15_e@2x.png 2x">
			
	</div>
	</a>
	<a href="Ecosystem_Learning_embed_of_Learn_Worlds_no_AuthO.html">
	<div id="cardbuttons_fa" class="card_buttons">
		<svg class="Rectangle_272_e">
			<rect id="Rectangle_272_e" rx="52" ry="52" x="0" y="0" width="233.626" height="227.856">
			</rect>
		</svg>
		<div id="Training__fa">
			<span>Training </span>
		</div>
		<div id="ecosystem__fb">
			<span>ecosystem </span>
		</div>
		<svg class="Line_22_fc" viewBox="0 0 232.626 1">
			<path id="Line_22_fc" d="M 0 0 L 232.6259765625 0">
			</path>
		</svg>
		<img id="Ellipse_15_fd" src="../../static/Ellipse_15_fd.png" srcset="../../static/Ellipse_15_fd.png 1x, ../../static/Ellipse_15_fd@2x.png 2x">
			
	</div>
	</a>
	<svg class="Rectangle_59_fe">
		<rect id="Rectangle_59_fe" rx="0" ry="0" x="0" y="0" width="912" height="2">
		</rect>
	</svg>
	<div id="n_your_chioce_ff">
		<span></span><span style="color:rgba(53,71,242,1);"> </span><span style="color:rgba(38,128,235,1);">your </span><span style="color:rgba(134,230,133,1);">chioce</span>
	</div>
	<div id="select_fg">
		<span>select</span>
	</div>
	<div id="Group_5_fh">
		<svg class="Ellipse_1_fi">
			<ellipse id="Ellipse_1_fi" rx="35" ry="35" cx="35" cy="35">
			</ellipse>
		</svg>
		<div id="Group_5_fj">
			<svg class="Path_4_fk" viewBox="-1636.09 765.802 20.228 2">
				<path id="Path_4_fk" d="M -1636.089599609375 765.8024291992188 L -1615.862060546875 765.8024291992188">
				</path>
			</svg>
			<svg class="Path_5_fl" viewBox="-1625.652 756.611 9.17 18.586">
				<path id="Path_5_fl" d="M -1625.651611328125 775.197021484375 L -1616.481201171875 765.77294921875 L -1625.651611328125 756.611083984375">
				</path>
			</svg>
		</div>
	</div>
	<a href="Home.html">
	<div id="Group_6_fm">
		<svg class="Ellipse_1_fn">
			<ellipse id="Ellipse_1_fn" rx="35" ry="35" cx="35" cy="35">
			</ellipse>
		</svg>
		<div id="Group_5_fo">
			<svg class="Path_4_fp" viewBox="-1636.09 765.802 20.228 2">
				<path id="Path_4_fp" d="M -1615.862060546875 765.8024291992188 L -1636.089599609375 765.8024291992188">
				</path>
			</svg>
			<svg class="Path_5_fq" viewBox="-1625.652 756.611 9.17 18.586">
				<path id="Path_5_fq" d="M -1616.481201171875 775.197021484375 L -1625.651611328125 765.77294921875 L -1616.481201171875 756.611083984375">
				</path>
			</svg>
		</div>
	</div>
	</a>
	<div id="Group_7_fr">
		<svg class="Ellipse_1_fs">
			<ellipse id="Ellipse_1_fs" rx="35" ry="35" cx="35" cy="35">
			</ellipse>
		</svg>
		<div id="Group_8_ft">
			<svg class="Ellipse_3_fu">
				<ellipse id="Ellipse_3_fu" rx="9" ry="9" cx="9" cy="9">
				</ellipse>
			</svg>
			<svg class="Line_1_fv" viewBox="0 0 8 9">
				<path id="Line_1_fv" d="M 0 0 L 8 9">
				</path>
			</svg>
		</div>
	</div>

	<a href="Home.html">
	<div id="Home_gb">
		<span>Home</span>
	</div>
	</a>
	<div id="Elements_gc">
		<span>Elements</span>
	</div>
	<div id="Portfolio_gd">
		<span>Portfolio</span>
	</div>
	<div id="Blog_ge">
		<span>Blog</span>
	</div>
	<div id="n_1_gf">
		<span>01</span>
	</div>
	<div id="n_2_gg">
		<span>02</span>
	</div>
	<div id="n_3_gh">
		<span>03</span>
	</div>
	<div id="n_4_gi">
		<span>04</span>
	</div>
	<a href="Home.html">
	<img id="shoshinelogo_gj" src="../../static/shoshinelogo_gj.png" srcset="../../static/shoshinelogo_gj.png 1x, ../../static/shoshinelogo_gj@2x.png 2x">
		
	</a>
	<a href="Ecosystem_Intelligence_Splash_Screen.html">
	<div id="Group_3012_gk">
		<svg class="Path_7_gl" viewBox="0 0 233 227.856">
			<path id="Path_7_gl" d="M 41.49314880371094 0 L 191.5068511962891 0 C 214.4228820800781 0 233 31.38911437988281 233 70.10955810546875 L 233 157.7464904785156 C 233 196.4669494628906 214.4228820800781 227.8560638427734 191.5068511962891 227.8560638427734 L 41.49314880371094 227.8560638427734 C 18.57711410522461 227.8560638427734 0 196.4669494628906 0 157.7464904785156 L 0 70.10955810546875 C 0 31.38911437988281 18.57711410522461 0 41.49314880371094 0 Z">
			</path>
		</svg>
		<img id="Ellipse_15_gm" src="../../static/Ellipse_15_gm.png" srcset="../../static/Ellipse_15_gm.png 1x, ../../static/Ellipse_15_gm@2x.png 2x">
			
		<div id="Intelligence__gn">
			<span>Intelligence </span>
		</div>
		<div id="Ecosystem_go">
			<span>Ecosystem</span>
		</div>
	</div>
	</a>
	<a href="Open_Innovation_Splash_Screen.html">
	<div id="Group_3013_gp">
		<a href="Open_Innovation_Splash_Screen.html">
		<svg class="Rectangle_272_gq">
			<rect id="Rectangle_272_gq" rx="52" ry="52" x="0" y="0" width="233" height="227.856">
			</rect>
		</svg>
	</a>
		<img id="Ellipse_15_gr" src="../../static/Ellipse_15_gr.png" srcset="../../static/Ellipse_15_gr.png 1x, ../../static/Ellipse_15_gr@2x.png 2x">
			
		<div id="Innovation__gs">
			<span>Innovation </span>
		</div>
		<div id="ecosystem__gt">
			<span>ecosystem </span>
		</div>
	</div>
	</a>
</div>

</body>
</html>