<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ecosystem_Learning_embed_of_Learn_Worlds_no_AuthO</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="../../static/css/Ecosystem_Learning_embed_of_Learn_Worlds_no_AuthO.css"/>
<script id="applicationScript" type="text/javascript" src="../../static/js/Ecosystem_Learning_embed_of_Learn_Worlds_no_AuthO.js"></script>
</head>
<body style="background: black">
<div id="Ecosystem_Learning_embed_of_Learn_Worlds_no_AuthO">
	<div id="Group_9">
		<svg class="Rectangle_3">
			<rect id="Rectangle_3" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_1">
			<span>01</span>
		</div>
	</div>
	<div id="Group_10">
		<svg class="Rectangle_3_bq">
			<rect id="Rectangle_3_bq" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_2">
			<span>02</span>
		</div>
	</div>
	<div id="Group_11">
		<svg class="Rectangle_3_bt">
			<rect id="Rectangle_3_bt" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_3">
			<span>03</span>
		</div>
	</div>
	<div id="Group_12">
		<svg class="Rectangle_3_bw">
			<rect id="Rectangle_3_bw" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_4">
			<span>04</span>
		</div>
	</div>
	<div id="Group_13">
		<svg class="Rectangle_3_bz">
			<rect id="Rectangle_3_bz" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_5">
			<span>05</span>
		</div>
	</div>
	<div id="Group_5">
		<svg class="Ellipse_1">
			<ellipse id="Ellipse_1" rx="35" ry="35" cx="35" cy="35">
			</ellipse>
		</svg>
		<div id="Group_5_b">
			<svg class="Path_4" viewBox="-1636.09 765.802 20.228 2">
				<path id="Path_4" d="M -1636.089599609375 765.8024291992188 L -1615.862060546875 765.8024291992188">
				</path>
			</svg>
			<svg class="Path_5" viewBox="-1625.652 756.611 9.17 18.586">
				<path id="Path_5" d="M -1625.651611328125 775.197021484375 L -1616.481201171875 765.77294921875 L -1625.651611328125 756.611083984375">
				</path>
			</svg>
		</div>
	</div>
	<a href="1st_Navigation_Elements.html">
	<div id="Group_6">
		<svg class="Ellipse_1_b">
			<ellipse id="Ellipse_1_b" rx="35" ry="35" cx="35" cy="35">
			</ellipse>
		</svg>
		<div id="Group_5_ca">
			<svg class="Path_4_b" viewBox="-1636.09 765.802 20.228 2">
				<path id="Path_4_b" d="M -1615.862060546875 765.8024291992188 L -1636.089599609375 765.8024291992188">
				</path>
			</svg>
			<svg class="Path_5_ca" viewBox="-1625.652 756.611 9.17 18.586">
				<path id="Path_5_ca" d="M -1616.481201171875 775.197021484375 L -1625.651611328125 765.77294921875 L -1616.481201171875 756.611083984375">
				</path>
			</svg>
		</div>
	</div>
	</a>
	<div id="Live_Engagement_">
		<span>Live Engagement </span>
	</div>
	<div id="Group_29">
		<svg class="Ellipse_1_cd">
			<ellipse id="Ellipse_1_cd" rx="57.5" ry="54.5" cx="57.5" cy="54.5">
			</ellipse>
		</svg>
	</div>
	<img id="Sample_User_Icon" src="../../static/img/Sample_User_Icon.png" srcset="../../static/img/Sample_User_Icon.png 1x, ../../static/img/Sample_User_Icon@2x.png 2x">
		
	<div id="Talent">
		<span>Talent</span>
	</div>
	<div id="Intellegence">
		<span>Intellegence</span>
	</div>
	<div id="innovation">
		<span>innovation</span>
	</div>
	<div id="training_">
		<span>training </span>
	</div>
	<div id="n_1_cj">
		<span>01</span>
	</div>
	<div id="n_2_ck">
		<span>02</span>
	</div>
	<div id="n_3_cl">
		<span>03</span>
	</div>
	<div id="n_4_cm">
		<span>04</span>
	</div>
	<img id="Logo" src="../../static/img/Logo.png" srcset="../../static/img/Logo.png 1x, ../../static/img/Logo@2x.png 2x">
		
	<div id="segmentraised" class="segment_raised">
		<svg class="Rectangle_203">
			<rect id="Rectangle_203" rx="4" ry="4" x="0" y="0" width="736" height="320">
			</rect>
		</svg>
		<div id="connection_between_talent__inn">
			<span>connection between talent , innovation and training ecosystem...………………………………………………………………………………………………………….</span>
		</div>
	</div>
	<div id="Home_cr">
		<span>Home</span>
	</div>
	<a href="Home.html">
	<img id="shoshinelogo" src="../../static/img/shoshinelogo.png" srcset="../../static/img/shoshinelogo.png 1x, ../../static/img/shoshinelogo@2x.png 2x">
		
	</a>
</div>
<div id="Ecosystem_Learning_embed_of_Learn_Worlds_no_AuthO__1">
	<div id="Group_9_cv">
		<svg class="Rectangle_3_cw">
			<rect id="Rectangle_3_cw" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_1_cx">
			<span>01</span>
		</div>
	</div>
	<div id="Group_10_cy">
		<svg class="Rectangle_3_cz">
			<rect id="Rectangle_3_cz" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_2_c">
			<span>02</span>
		</div>
	</div>
	<div id="Group_11_c">
		<svg class="Rectangle_3_c">
			<rect id="Rectangle_3_c" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_3_c">
			<span>03</span>
		</div>
	</div>
	<div id="Group_12_c">
		<svg class="Rectangle_3_da">
			<rect id="Rectangle_3_da" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_4_c">
			<span>04</span>
		</div>
	</div>
	<div id="Group_13_c">
		<svg class="Rectangle_3_db">
			<rect id="Rectangle_3_db" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_5_c">
			<span>05</span>
		</div>
	</div>
	<div id="Group_5_da">
		<svg class="Ellipse_1_db">
			<ellipse id="Ellipse_1_db" rx="30" ry="30" cx="30" cy="30">
			</ellipse>
		</svg>
		<div id="Group_5_dc">
			<svg class="Path_4_dd" viewBox="-1636.09 765.802 20.228 2">
				<path id="Path_4_dd" d="M -1636.089599609375 765.8024291992188 L -1615.862060546875 765.8024291992188">
				</path>
			</svg>
			<svg class="Path_5_de" viewBox="-1625.652 756.611 9.17 18.586">
				<path id="Path_5_de" d="M -1625.651611328125 775.197021484375 L -1616.481201171875 765.77294921875 L -1625.651611328125 756.611083984375">
				</path>
			</svg>
		</div>
	</div>
	<a href="1st_Navigation_Elements.html">
	<div id="Group_6_df">
		<svg class="Ellipse_1_dg">
			<ellipse id="Ellipse_1_dg" rx="30" ry="30" cx="30" cy="30">
			</ellipse>
		</svg>
		<div id="Group_5_dh">
			<svg class="Path_4_di" viewBox="-1636.09 765.802 20.228 2">
				<path id="Path_4_di" d="M -1615.862060546875 765.8024291992188 L -1636.089599609375 765.8024291992188">
				</path>
			</svg>
			<svg class="Path_5_dj" viewBox="-1625.652 756.611 9.17 18.586">
				<path id="Path_5_dj" d="M -1616.481201171875 775.197021484375 L -1625.651611328125 765.77294921875 L -1616.481201171875 756.611083984375">
				</path>
			</svg>
		</div>
	</div>
	</a>
	<div id="Live_Engagement__dk">
		<span>Live Engagement </span>
	</div>
	<div id="Group_29_dl">
		<svg class="Ellipse_1_dm">
			<ellipse id="Ellipse_1_dm" rx="40.90885543823242" ry="38.75555419921875" cx="40.90885543823242" cy="38.75555419921875">
			</ellipse>
		</svg>
	</div>
	<img id="Sample_User_Icon_dn" src="Sample_User_Icon_dn.png" srcset="Sample_User_Icon_dn.png 1x, Sample_User_Icon_dn@2x.png 2x">
		
	<div id="Talent_do">
		<span>Talent</span>
	</div>
	<div id="Intellegence_dp">
		<span>Intellegence</span>
	</div>
	<div id="innovation_dq">
		<span>innovation</span>
	</div>
	<div id="training__dr">
		<span>training </span>
	</div>
	<div id="n_1_ds">
		<span>01</span>
	</div>
	<div id="n_2_dt">
		<span>02</span>
	</div>
	<div id="n_3_du">
		<span>03</span>
	</div>
	<div id="n_4_dv">
		<span>04</span>
	</div>
	<img id="Logo_dw" src="Logo_dw.png" srcset="Logo_dw.png 1x, Logo_dw@2x.png 2x">
		
	<div id="segmentraised_dx" class="segment_raised">
		<svg class="Rectangle_203_dy">
			<rect id="Rectangle_203_dy" rx="4" ry="4" x="0" y="0" width="736" height="320">
			</rect>
		</svg>
		<div id="connection_between_talent__inn_dz">
			<span>connection between talent , innovation and training ecosystem...………………………………………………………………………………………………………….</span>
		</div>
	</div>
	<div id="Home_d">
		<span>Home</span>
	</div>
	<a href="Home.html">
	<img id="shoshinelogo_d" src="shoshinelogo_d.png" srcset="shoshinelogo_d.png 1x, shoshinelogo_d@2x.png 2x">
		
	</a>
</div>
<div id="Ecosystem_Learning_embed_of_Learn_Worlds_no_AuthO__2">
	<div id="Group_9_d">
		<svg class="Rectangle_3_d">
			<rect id="Rectangle_3_d" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_1_d">
			<span>01</span>
		</div>
	</div>
	<div id="Group_10_d">
		<svg class="Rectangle_3_ea">
			<rect id="Rectangle_3_ea" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_2_d">
			<span>02</span>
		</div>
	</div>
	<div id="Group_11_ea">
		<svg class="Rectangle_3_eb">
			<rect id="Rectangle_3_eb" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_3_ec">
			<span>03</span>
		</div>
	</div>
	<div id="Group_12_ed">
		<svg class="Rectangle_3_ee">
			<rect id="Rectangle_3_ee" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_4_ef">
			<span>04</span>
		</div>
	</div>
	<div id="Group_13_eg">
		<svg class="Rectangle_3_eh">
			<rect id="Rectangle_3_eh" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_5_ei">
			<span>05</span>
		</div>
	</div>
	<div id="Group_5_ej">
		<svg class="Ellipse_1_ek">
			<ellipse id="Ellipse_1_ek" rx="30" ry="30" cx="30" cy="30">
			</ellipse>
		</svg>
		<div id="Group_5_el">
			<svg class="Path_4_em" viewBox="-1636.09 765.802 20.228 2">
				<path id="Path_4_em" d="M -1636.089599609375 765.8024291992188 L -1615.862060546875 765.8024291992188">
				</path>
			</svg>
			<svg class="Path_5_en" viewBox="-1625.652 756.611 9.17 18.586">
				<path id="Path_5_en" d="M -1625.651611328125 775.197021484375 L -1616.481201171875 765.77294921875 L -1625.651611328125 756.611083984375">
				</path>
			</svg>
		</div>
	</div>
	<a href="1st_Navigation_Elements.html">
	<div id="Group_6_eo">
		<svg class="Ellipse_1_ep">
			<ellipse id="Ellipse_1_ep" rx="30" ry="30" cx="30" cy="30">
			</ellipse>
		</svg>
		<div id="Group_5_eq">
			<svg class="Path_4_er" viewBox="-1636.09 765.802 20.228 2">
				<path id="Path_4_er" d="M -1615.862060546875 765.8024291992188 L -1636.089599609375 765.8024291992188">
				</path>
			</svg>
			<svg class="Path_5_es" viewBox="-1625.652 756.611 9.17 18.586">
				<path id="Path_5_es" d="M -1616.481201171875 775.197021484375 L -1625.651611328125 765.77294921875 L -1616.481201171875 756.611083984375">
				</path>
			</svg>
		</div>
	</div>
	</a>
	<div id="Live_Engagement__et">
		<span>Live Engagement </span>
	</div>
	<div id="Group_29_eu">
		<svg class="Ellipse_1_ev">
			<ellipse id="Ellipse_1_ev" rx="38.333335876464844" ry="40.37036895751953" cx="38.333335876464844" cy="40.37036895751953">
			</ellipse>
		</svg>
	</div>
	<img id="Sample_User_Icon_ew" src="Sample_User_Icon_ew.png" srcset="Sample_User_Icon_ew.png 1x, Sample_User_Icon_ew@2x.png 2x">
		
	<div id="Talent_ex">
		<span>Talent</span>
	</div>
	<div id="Intellegence_ey">
		<span>Intellegence</span>
	</div>
	<div id="innovation_ez">
		<span>innovation</span>
	</div>
	<div id="training__e">
		<span>training </span>
	</div>
	<div id="n_1_e">
		<span>01</span>
	</div>
	<div id="n_2_e">
		<span>02</span>
	</div>
	<div id="n_3_e">
		<span>03</span>
	</div>
	<div id="n_4_e">
		<span>04</span>
	</div>
	<img id="Logo_e" src="Logo_e.png" srcset="Logo_e.png 1x, Logo_e@2x.png 2x">
		
	<div id="segmentraised_e" class="segment_raised">
		<svg class="Rectangle_203_e">
			<rect id="Rectangle_203_e" rx="4" ry="4" x="0" y="0" width="650" height="320">
			</rect>
		</svg>
		<div id="connection_between_talent__inn_e">
			<span>connection between talent , innovation and training ecosystem...………………………………………………………………………………………………………….</span>
		</div>
	</div>
	<div id="Home_e">
		<span>Home</span>
	</div>
	<a href="Home.html">
	<img id="shoshinelogo_fa" src="shoshinelogo_fa.png" srcset="shoshinelogo_fa.png 1x, shoshinelogo_fa@2x.png 2x">
		
	</a>
</div>

</body>
</html>