<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Existing_Open_Innovation_list_and_embed_of_website_HeroX</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="../../static/css/Existing_Open_Innovation_list_and_embed_of_website_HeroX.css"/>
<script id="applicationScript" type="text/javascript" src="../../static/js/Existing_Open_Innovation_list_and_embed_of_website_HeroX.js"></script>
</head>
<body style="background: black">
<div id="Existing_Open_Innovation_list_and_embed_of_website_HeroX">
	<div id="Group_9">
		<svg class="Rectangle_3">
			<rect id="Rectangle_3" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_1">
			<span>01</span>
		</div>
	</div>
	<div id="Group_10">
		<svg class="Rectangle_3_bo">
			<rect id="Rectangle_3_bo" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_2">
			<span>02</span>
		</div>
	</div>
	<div id="Group_11">
		<svg class="Rectangle_3_br">
			<rect id="Rectangle_3_br" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_3">
			<span>03</span>
		</div>
	</div>
	<div id="Group_12">
		<svg class="Rectangle_3_bu">
			<rect id="Rectangle_3_bu" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_4">
			<span>04</span>
		</div>
	</div>
	<div id="Group_13">
		<svg class="Rectangle_3_bx">
			<rect id="Rectangle_3_bx" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_5">
			<span>05</span>
		</div>
	</div>
	<div id="Group_5">
		<svg class="Ellipse_1">
			<ellipse id="Ellipse_1" rx="35" ry="35" cx="35" cy="35">
			</ellipse>
		</svg>
		<div id="Group_5_b">
			<svg class="Path_4" viewBox="-1636.09 765.802 20.228 2">
				<path id="Path_4" d="M -1636.089599609375 765.8024291992188 L -1615.862060546875 765.8024291992188">
				</path>
			</svg>
			<svg class="Path_5" viewBox="-1625.652 756.611 9.17 18.586">
				<path id="Path_5" d="M -1625.651611328125 775.197021484375 L -1616.481201171875 765.77294921875 L -1625.651611328125 756.611083984375">
				</path>
			</svg>
		</div>
	</div>
	<div id="Group_6">
		<svg class="Ellipse_1_b">
			<ellipse id="Ellipse_1_b" rx="35" ry="35" cx="35" cy="35">
			</ellipse>
		</svg>
		<div id="Group_5_ca">
			<svg class="Path_4_b" viewBox="-1636.09 765.802 20.228 2">
				<path id="Path_4_b" d="M -1615.862060546875 765.8024291992188 L -1636.089599609375 765.8024291992188">
				</path>
			</svg>
			<svg class="Path_5_b" viewBox="-1625.652 756.611 9.17 18.586">
				<path id="Path_5_b" d="M -1616.481201171875 775.197021484375 L -1625.651611328125 765.77294921875 L -1616.481201171875 756.611083984375">
				</path>
			</svg>
		</div>
	</div>
	<svg class="Path_9207_ca" viewBox="0 0 315.2 907.8">
		<linearGradient id="Path_9207_ca" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
			<stop offset="0" stop-color="#ebebeb" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#134076" stop-opacity="1"></stop>
		</linearGradient>
		<path id="Path_9207_ca" d="M 0 0 L 315.2001953125 0 L 315.2001953125 907.7998046875 L 0 907.7998046875 L 0 0 Z">
		</path>
	</svg>
	<div id="Group_337">
		<div id="Repeat_Grid_4">
			<div id="Group" class="">
				<div id="project">
					<span>project</span>
				</div>
			</div>
			<div id="Group_cf" class="">
				<div id="project_cg">
					<span>project</span>
				</div>
			</div>
			<div id="Group_ch" class="">
				<div id="project_ci">
					<span>project</span>
				</div>
			</div>
			<div id="Group_cj" class="">
				<div id="project_ck">
					<span>project</span>
				</div>
			</div>
			<div id="Group_cl" class="">
				<div id="project_cm">
					<span>project</span>
				</div>
			</div>
			<div id="Group_cn" class="">
				<div id="project_co">
					<span>project</span>
				</div>
			</div>
			<div id="Group_cp" class="">
				<div id="project_cq">
					<span>project</span>
				</div>
			</div>
			<div id="Group_cr" class="">
				<div id="project_cs">
					<span>project</span>
				</div>
			</div>
			<div id="Group_ct" class="">
				<div id="project_cu">
					<span>project</span>
				</div>
			</div>
			<div id="Group_cv" class="">
				<div id="project_cw">
					<span>project</span>
				</div>
			</div>
		</div>
	</div>
	<svg class="Rectangle_133">
		<rect id="Rectangle_133" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_cy">
		<rect id="Rectangle_133_cy" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_cz">
		<rect id="Rectangle_133_cz" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_c">
		<rect id="Rectangle_133_c" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_da">
		<rect id="Rectangle_133_da" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_db">
		<rect id="Rectangle_133_db" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_dc">
		<rect id="Rectangle_133_dc" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_dd">
		<rect id="Rectangle_133_dd" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_de">
		<rect id="Rectangle_133_de" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_df">
		<rect id="Rectangle_133_df" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_dg">
		<rect id="Rectangle_133_dg" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_dh">
		<rect id="Rectangle_133_dh" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_di">
		<rect id="Rectangle_133_di" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_dj">
		<rect id="Rectangle_133_dj" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<div id="Live_Engagement_">
		<span>Live Engagement </span>
	</div>
	<svg class="Rectangle_1614">
		<rect id="Rectangle_1614" rx="29.5" ry="29.5" x="0" y="0" width="330" height="59">
		</rect>
	</svg>
	<div id="Add_Engagement_">
		<span>Add Engagement </span>
	</div>
	<img id="plus" src="../../static/img/plus.png" srcset="../../static/img/plus.png 1x, ../../static/img/plus@2x.png 2x">
		
	<div id="Group_29">
		<svg class="Ellipse_1_dg">
			<ellipse id="Ellipse_1_dg" rx="57.5" ry="54.5" cx="57.5" cy="54.5">
			</ellipse>
		</svg>
	</div>
	<img id="Sample_User_Icon" src="../../static/img/Sample_User_Icon.png" srcset="../../static/img/Sample_User_Icon.png 1x, ../../static/img/Sample_User_Icon@2x.png 2x">
		
	<div id="segmentvertical" class="segment_vertical">
		<iframe src="https://www.Herox.com"></iframe>
	</div>
	<div id="HERO">
		<span>HEROX</span>
	</div>
	<div id="Talent">
		<span>Talent</span>
	</div>
	<div id="Intellegence">
		<span>Intellegence</span>
	</div>
	<div id="innovation">
		<span>innovation</span>
	</div>
	<div id="training_">
		<span>training </span>
	</div>
	<div id="n_1_d">
		<span>01</span>
	</div>
	<div id="n_2_d">
		<span>02</span>
	</div>
	<div id="n_3_d">
		<span>03</span>
	</div>
	<div id="n_4_d">
		<span>04</span>
	</div>
	<a href="Home.html">
	<img id="shoshinelogo" src="../../static/img/shoshinelogo.png" srcset="../../static/img/shoshinelogo.png 1x, ../../static/img/shoshinelogo@2x.png 2x">
		
	</a>
</div>
<div id="Existing_Open_Innovation_list_and_embed_of_website_HeroX__1">
	<a href="Home.html">
	<img id="shoshinelogo_eb" src="../../static/shoshinelogo_eb.png" srcset="../../static/shoshinelogo_eb.png 1x, ../../static/shoshinelogo_eb@2x.png 2x">
		
	</a>
	<div id="Talent_ec">
		<span>Talent</span>
	</div>
	<div id="Intellegence_ed">
		<span>Intellegence</span>
	</div>
	<div id="n_1_ee">
		<span>01</span>
	</div>
	<div id="n_2_ef">
		<span>02</span>
	</div>
	<svg class="Path_9207_eh" viewBox="0 0 313.498 633.007">
		<linearGradient id="Path_9207_eh" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
			<stop offset="0" stop-color="#ebebeb" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#134076" stop-opacity="1"></stop>
		</linearGradient>
		<path id="Path_9207_eh" d="M 0 0 L 313.498046875 0 L 313.498046875 633.0068359375 L 0 633.0068359375 L 0 0 Z">
		</path>
	</svg>
	<div id="Group_337_ei">
		<div id="Repeat_Grid_4_ej">
			<div id="Group_ek" class="">
				<div id="project_el">
					<span>project</span>
				</div>
			</div>
			<div id="Group_em" class="">
				<div id="project_en">
					<span>project</span>
				</div>
			</div>
			<div id="Group_eo" class="">
				<div id="project_ep">
					<span>project</span>
				</div>
			</div>
			<div id="Group_eq" class="">
				<div id="project_er">
					<span>project</span>
				</div>
			</div>
			<div id="Group_es" class="">
				<div id="project_et">
					<span>project</span>
				</div>
			</div>
			<div id="Group_eu" class="">
				<div id="project_ev">
					<span>project</span>
				</div>
			</div>
			<div id="Group_ew" class="">
				<div id="project_ex">
					<span>project</span>
				</div>
			</div>
			<div id="Group_ey" class="">
				<div id="project_ez">
					<span>project</span>
				</div>
			</div>
			<div id="Group_e" class="">
				<div id="project_e">
					<span>project</span>
				</div>
			</div>
			<div id="Group_fa" class="">
				<div id="project_fa">
					<span>project</span>
				</div>
			</div>
		</div>
	</div>
	<svg class="Rectangle_133_e">
		<rect id="Rectangle_133_e" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_fa">
		<rect id="Rectangle_133_fa" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_fb">
		<rect id="Rectangle_133_fb" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_fc">
		<rect id="Rectangle_133_fc" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_fd">
		<rect id="Rectangle_133_fd" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_fe">
		<rect id="Rectangle_133_fe" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_ff">
		<rect id="Rectangle_133_ff" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_fg">
		<rect id="Rectangle_133_fg" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_fh">
		<rect id="Rectangle_133_fh" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_fi">
		<rect id="Rectangle_133_fi" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_fj">
		<rect id="Rectangle_133_fj" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_fk">
		<rect id="Rectangle_133_fk" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<div id="Live_Engagement__fg">
		<span>Live Engagement </span>
	</div>
	<div id="segmentvertical_fh" class="segment_vertical">
		<iframe src="https://www.Herox.com"></iframe>
	</div>
	<div id="HERO_fy">
		<span>HEROX</span>
	</div>
	<div id="Group_3016">
		<svg class="Rectangle_1614_f">
			<rect id="Rectangle_1614_f" rx="29.5" ry="29.5" x="0" y="0" width="330" height="59">
			</rect>
		</svg>
		<div id="Add_Engagement__f">
			<span>Add Engagement </span>
		</div>
		<img id="plus_f" src="../../static/plus_f.png" srcset="../../static/plus_f.png 1x, ../../static/plus_f@2x.png 2x">
			
	</div>
	<div id="Group_29_f">
		<svg class="Ellipse_1_f">
			<ellipse id="Ellipse_1_f" rx="57.5" ry="54.5" cx="57.5" cy="54.5">
			</ellipse>
		</svg>
	</div>
	<img id="Sample_User_Icon_f" src="../../static/Sample_User_Icon_f.png" srcset="../../static/Sample_User_Icon_f.png 1x, ../../static/Sample_User_Icon_f@2x.png 2x">
		
	<div id="innovation_f">
		<span>innovation</span>
	</div>
	<div id="training__f">
		<span>training </span>
	</div>
	<div id="n_3_f">
		<span>03</span>
	</div>
	<div id="n_4_f">
		<span>04</span>
	</div>
	<div id="Group_9_ga">
		<svg class="Rectangle_3_gb">
			<rect id="Rectangle_3_gb" rx="0" ry="0" x="0" y="0" width="41" height="216">
			</rect>
		</svg>
		<div id="n_1_gc">
			<span>01</span>
		</div>
	</div>
	<div id="Group_10_gd">
		<svg class="Rectangle_3_ge">
			<rect id="Rectangle_3_ge" rx="0" ry="0" x="0" y="0" width="41" height="216">
			</rect>
		</svg>
		<div id="n_2_gf">
			<span>02</span>
		</div>
	</div>
	<div id="Group_11_gg">
		<svg class="Rectangle_3_gh">
			<rect id="Rectangle_3_gh" rx="0" ry="0" x="0" y="0" width="41" height="216">
			</rect>
		</svg>
		<div id="n_3_gi">
			<span>03</span>
		</div>
	</div>
	<div id="Group_12_gj">
		<svg class="Rectangle_3_gk">
			<rect id="Rectangle_3_gk" rx="0" ry="0" x="0" y="0" width="41" height="216">
			</rect>
		</svg>
		<div id="n_4_gl">
			<span>04</span>
		</div>
	</div>
	<div id="Group_13_gm">
		<svg class="Rectangle_3_gn">
			<rect id="Rectangle_3_gn" rx="0" ry="0" x="0" y="0" width="41" height="216">
			</rect>
		</svg>
		<div id="n_5_go">
			<span>05</span>
		</div>
	</div>
	<div id="Group_6_gp">
		<svg class="Ellipse_1_gq">
			<ellipse id="Ellipse_1_gq" rx="30" ry="30" cx="30" cy="30">
			</ellipse>
		</svg>
		<div id="Group_5_gr">
			<svg class="Path_4_gs" viewBox="-1636.09 765.802 20.228 2">
				<path id="Path_4_gs" d="M -1615.862060546875 765.8024291992188 L -1636.089599609375 765.8024291992188">
				</path>
			</svg>
			<svg class="Path_5_gt" viewBox="-1625.652 756.611 9.17 18.586">
				<path id="Path_5_gt" d="M -1616.481201171875 775.197021484375 L -1625.651611328125 765.77294921875 L -1616.481201171875 756.611083984375">
				</path>
			</svg>
		</div>
	</div>
	<div id="Group_5_gu">
		<svg class="Ellipse_1_gv">
			<ellipse id="Ellipse_1_gv" rx="29.5" ry="30" cx="29.5" cy="30">
			</ellipse>
		</svg>
		<div id="Group_5_gw">
			<svg class="Path_4_gx" viewBox="-1636.09 765.802 20.228 2">
				<path id="Path_4_gx" d="M -1636.089599609375 765.8024291992188 L -1615.862060546875 765.8024291992188">
				</path>
			</svg>
			<svg class="Path_5_gy" viewBox="-1625.652 756.611 9.17 18.586">
				<path id="Path_5_gy" d="M -1625.651611328125 775.197021484375 L -1616.481201171875 765.77294921875 L -1625.651611328125 756.611083984375">
				</path>
			</svg>
		</div>
	</div>
</div>
<div id="Existing_Open_Innovation_list_and_embed_of_website_HeroX__2">
	<a href="Home.html">
	<img id="shoshinelogo_g" src="../../static/shoshinelogo_g.png" srcset="../../static/shoshinelogo_g.png 1x, ../../static/shoshinelogo_g@2x.png 2x">
		
	</a>
	<div id="Talent_g">
		<span>Talent</span>
	</div>
	<div id="Intellegence_g">
		<span>Intellegence</span>
	</div>
	<div id="n_1_g">
		<span>01</span>
	</div>
	<div id="n_2_g">
		<span>02</span>
	</div>
	<div id="Group_29_g">
		<svg class="Ellipse_1_g">
			<ellipse id="Ellipse_1_g" rx="57.5" ry="54.5" cx="57.5" cy="54.5">
			</ellipse>
		</svg>
	</div>
	<img id="Sample_User_Icon_g" src="../../static/Sample_User_Icon_g.png" srcset="../../static/Sample_User_Icon_g.png 1x, ../../static/Sample_User_Icon_g@2x.png 2x">
		
	<div id="innovation_g">
		<span>innovation</span>
	</div>
	<div id="training__ha">
		<span>training </span>
	</div>
	<div id="n_3_hb">
		<span>03</span>
	</div>
	<div id="n_4_hc">
		<span>04</span>
	</div>
	<svg class="Path_9207_he" viewBox="0 0 313.498 633.007">
		<linearGradient id="Path_9207_he" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
			<stop offset="0" stop-color="#ebebeb" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#134076" stop-opacity="1"></stop>
		</linearGradient>
		<path id="Path_9207_he" d="M 0 0 L 313.498046875 0 L 313.498046875 633.0068359375 L 0 633.0068359375 L 0 0 Z">
		</path>
	</svg>
	<div id="Group_3016_hf">
		<svg class="Rectangle_1614_hg">
			<rect id="Rectangle_1614_hg" rx="29.5" ry="29.5" x="0" y="0" width="330" height="59">
			</rect>
		</svg>
		<div id="Add_Engagement__hh">
			<span>Add Engagement </span>
		</div>
		<img id="plus_hi" src="../../static/plus_hi.png" srcset="../../static/plus_hi.png 1x, ../../static/plus_hi@2x.png 2x">
			
	</div>
	<div id="Group_337_hj">
		<div id="Repeat_Grid_4_hk">
			<div id="Group_hl" class="">
				<div id="project_hm">
					<span>project</span>
				</div>
			</div>
			<div id="Group_hn" class="">
				<div id="project_ho">
					<span>project</span>
				</div>
			</div>
			<div id="Group_hp" class="">
				<div id="project_hq">
					<span>project</span>
				</div>
			</div>
			<div id="Group_hr" class="">
				<div id="project_hs">
					<span>project</span>
				</div>
			</div>
			<div id="Group_ht" class="">
				<div id="project_hu">
					<span>project</span>
				</div>
			</div>
			<div id="Group_hv" class="">
				<div id="project_hw">
					<span>project</span>
				</div>
			</div>
			<div id="Group_hx" class="">
				<div id="project_hy">
					<span>project</span>
				</div>
			</div>
			<div id="Group_hz" class="">
				<div id="project_h">
					<span>project</span>
				</div>
			</div>
			<div id="Group_h" class="">
				<div id="project_ia">
					<span>project</span>
				</div>
			</div>
			<div id="Group_ia" class="">
				<div id="project_ib">
					<span>project</span>
				</div>
			</div>
		</div>
	</div>
	<svg class="Rectangle_133_h">
		<rect id="Rectangle_133_h" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_ia">
		<rect id="Rectangle_133_ia" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_ib">
		<rect id="Rectangle_133_ib" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_ic">
		<rect id="Rectangle_133_ic" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_id">
		<rect id="Rectangle_133_id" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_ie">
		<rect id="Rectangle_133_ie" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_if">
		<rect id="Rectangle_133_if" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_ig">
		<rect id="Rectangle_133_ig" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_ih">
		<rect id="Rectangle_133_ih" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_ii">
		<rect id="Rectangle_133_ii" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_ij">
		<rect id="Rectangle_133_ij" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<svg class="Rectangle_133_ik">
		<rect id="Rectangle_133_ik" rx="4" ry="4" x="0" y="0" width="17" height="17">
		</rect>
	</svg>
	<div id="Live_Engagement__ih">
		<span>Live Engagement </span>
	</div>
	<div id="segmentvertical_ii" class="segment_vertical">
		<iframe src="https://www.Herox.com"></iframe>
	</div>
	<div id="HERO_iz">
		<span>HEROX</span>
	</div>
	<div id="Group_6_i">
		<svg class="Ellipse_1_i">
			<ellipse id="Ellipse_1_i" rx="30" ry="30" cx="30" cy="30">
			</ellipse>
		</svg>
		<div id="Group_5_i">
			<svg class="Path_4_i" viewBox="-1636.09 765.802 20.228 2">
				<path id="Path_4_i" d="M -1615.862060546875 765.8024291992188 L -1636.089599609375 765.8024291992188">
				</path>
			</svg>
			<svg class="Path_5_i" viewBox="-1625.652 756.611 9.17 18.586">
				<path id="Path_5_i" d="M -1616.481201171875 775.197021484375 L -1625.651611328125 765.77294921875 L -1616.481201171875 756.611083984375">
				</path>
			</svg>
		</div>
	</div>
	<div id="Group_5_ja">
		<svg class="Ellipse_1_ja">
			<ellipse id="Ellipse_1_ja" rx="29.5" ry="30" cx="29.5" cy="30">
			</ellipse>
		</svg>
		<div id="Group_5_jb">
			<svg class="Path_4_ja" viewBox="-1636.09 765.802 20.228 2">
				<path id="Path_4_ja" d="M -1636.089599609375 765.8024291992188 L -1615.862060546875 765.8024291992188">
				</path>
			</svg>
			<svg class="Path_5_ja" viewBox="-1625.652 756.611 9.17 18.586">
				<path id="Path_5_ja" d="M -1625.651611328125 775.197021484375 L -1616.481201171875 765.77294921875 L -1625.651611328125 756.611083984375">
				</path>
			</svg>
		</div>
	</div>
	<div id="Group_9_ja">
		<svg class="Rectangle_3_jb">
			<rect id="Rectangle_3_jb" rx="0" ry="0" x="0" y="0" width="41" height="216">
			</rect>
		</svg>
		<div id="n_1_jc">
			<span>01</span>
		</div>
	</div>
	<div id="Group_10_jd">
		<svg class="Rectangle_3_je">
			<rect id="Rectangle_3_je" rx="0" ry="0" x="0" y="0" width="41" height="216">
			</rect>
		</svg>
		<div id="n_2_jf">
			<span>02</span>
		</div>
	</div>
	<div id="Group_11_jg">
		<svg class="Rectangle_3_jh">
			<rect id="Rectangle_3_jh" rx="0" ry="0" x="0" y="0" width="41" height="216">
			</rect>
		</svg>
		<div id="n_3_ji">
			<span>03</span>
		</div>
	</div>
	<div id="Group_12_jj">
		<svg class="Rectangle_3_jk">
			<rect id="Rectangle_3_jk" rx="0" ry="0" x="0" y="0" width="41" height="216">
			</rect>
		</svg>
		<div id="n_4_jl">
			<span>04</span>
		</div>
	</div>
	<div id="Group_13_jm">
		<svg class="Rectangle_3_jn">
			<rect id="Rectangle_3_jn" rx="0" ry="0" x="0" y="0" width="41" height="216">
			</rect>
		</svg>
		<div id="n_5_jo">
			<span>05</span>
		</div>
	</div>
</div>

</body>
</html>