<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SHOSHIN WORKS | Home</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="../../static/css/Home.css"/>
<script id="applicationScript" type="text/javascript" src="../../static/js/Home.js"></script>
</head>
<body style="background: black">
<div id="Home">
	<img id="Rectangle_5" src="../../static/img/Rectangle_5.png" srcset="../../static/img/Rectangle_5.png 1x, ../../static/img/Rectangle_5@2x.png 2x">
		
	<a href="1st_Navigation_Elements.html">
	<div id="Group_3">
		<svg class="Ellipse_2">
			<ellipse id="Ellipse_2" rx="41" ry="41" cx="41" cy="41">
			</ellipse>
		</svg>
		<svg class="Polygon_1" viewBox="0 0 19.288 16.533">
			<path id="Polygon_1" d="M 9.644162178039551 0 L 19.2883243560791 16.5328483581543 L 0 16.5328483581543 Z">
			</path>
		</svg>
	</div>
	</a>
	<a href="1st_Navigation_Elements.html">
	<div id="Go">
		<span>Go</span>
	</div>
	</a>
	<div id="n_to_create_your_persona_and_i">
		<span> to create your persona and increase your opportunity to find a job </span>
	</div>
	<div id="Shoshin_Works">
		<span>SHOSHIN </span><span style="color:rgba(134,230,133,1);">WORKS</span>
	</div>
	<div id="Group_4">
		<svg class="Path_4" viewBox="-1636.09 765.802 20.228 2">
			<path id="Path_4" d="M -1636.089599609375 765.8024291992188 L -1615.862060546875 765.8024291992188">
			</path>
		</svg>
		<svg class="Path_5" viewBox="-1625.652 756.611 9.17 18.586">
			<path id="Path_5" d="M -1625.651611328125 775.197021484375 L -1616.481201171875 765.77294921875 L -1625.651611328125 756.611083984375">
			</path>
		</svg>
	</div>
	<a href="Home.html">
	<div id="Home_bc">
		<span>Home</span>
	</div>
	</a>
	<div id="connect">
		<span>connect</span>
	</div>
	<div id="bench">
		<span>bench</span>
	</div>
	<div id="deliver">
		<span>deliver</span>
	</div>
	<div id="about">
		<span>about</span>
	</div>
	<a href="Home.html">
	<div id="n_1">
		<span>01</span>
	</div>
	</a>
	<div id="n_2">
		<span>02</span>
	</div>
	<div id="n_3">
		<span>03</span>
	</div>
	<div id="n_4">
		<span>04</span>
	</div>
	<div id="n_5">
		<span>05</span>
	</div>

    {% if userinfo %}
        <a href="logout">
            <img id="Sample_User_Icon" src="{{ userinfo['picture'] }}">
            <p id="username">{{ userinfo['name'] }} <br>(Logout)</p>
        </a>
    {% else %}
        <a href="Login.html">
        <svg class="Path_9736" viewBox="0 0 131 48">
            <path id="Path_9736" d="M 7 0 L 124 0 C 127.8659973144531 0 131 3.134006500244141 131 7 L 131 41 C 131 44.86599349975586 127.8659973144531 48 124 48 L 7 48 C 3.134006500244141 48 0 44.86599349975586 0 41 L 0 7 C 0 3.134006500244141 3.134006500244141 0 7 0 Z">
            </path>
        </svg>
        </a>
        <a href="Login.html">
        <div id="sign_in">
            <span>sign in</span>
        </div>
        </a>
    {% endif %}

	<div id="Group_29">
		<svg class="Rectangle_3">
			<rect id="Rectangle_3" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_1_bq">
			<span>01</span>
		</div>
	</div>
	<div id="Group_30">
		<svg class="Rectangle_3_bs">
			<rect id="Rectangle_3_bs" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_2_bt">
			<span>02</span>
		</div>
	</div>
	<div id="Group_31">
		<svg class="Rectangle_3_bv">
			<rect id="Rectangle_3_bv" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_3_bw">
			<span>03</span>
		</div>
	</div>
	<div id="Group_32">
		<svg class="Rectangle_3_by">
			<rect id="Rectangle_3_by" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_4_bz">
			<span>04</span>
		</div>
	</div>
	<div id="Group_33">
		<svg class="Rectangle_3_b">
			<rect id="Rectangle_3_b" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_5_b">
			<span>05</span>
		</div>
	</div>

	<div id="Group_5">
		<svg class="Ellipse_1">
			<ellipse id="Ellipse_1" rx="35" ry="35" cx="35" cy="35">
			</ellipse>
		</svg>
		<div id="Group_5_b">
			<svg class="Path_4_b" viewBox="-1636.09 765.802 20.228 2">
				<path id="Path_4_b" d="M -1636.089599609375 765.8024291992188 L -1615.862060546875 765.8024291992188">
				</path>
			</svg>
			<svg class="Path_5_b" viewBox="-1625.652 756.611 9.17 18.586">
				<path id="Path_5_b" d="M -1625.651611328125 775.197021484375 L -1616.481201171875 765.77294921875 L -1625.651611328125 756.611083984375">
				</path>
			</svg>
		</div>
	</div>

	<div id="Group_6">
		<svg class="Ellipse_1_b">
			<ellipse id="Ellipse_1_b" rx="35" ry="35" cx="35" cy="35">
			</ellipse>
		</svg>
		<div id="Group_5_ca">
			<svg class="Path_4_cb" viewBox="-1636.09 765.802 20.228 2">
				<path id="Path_4_cb" d="M -1615.862060546875 765.8024291992188 L -1636.089599609375 765.8024291992188">
				</path>
			</svg>
			<svg class="Path_5_cc" viewBox="-1625.652 756.611 9.17 18.586">
				<path id="Path_5_cc" d="M -1616.481201171875 775.197021484375 L -1625.651611328125 765.77294921875 L -1616.481201171875 756.611083984375">
				</path>
			</svg>
		</div>
	</div>
	<div id="Group_7">
		<svg class="Ellipse_1_ce">
			<ellipse id="Ellipse_1_ce" rx="35" ry="35" cx="35" cy="35">
			</ellipse>
		</svg>
		<div id="Group_8">
			<svg class="Ellipse_3">
				<ellipse id="Ellipse_3" rx="9" ry="9" cx="9" cy="9">
				</ellipse>
			</svg>
			<svg class="Line_1" viewBox="0 0 8 9">
				<path id="Line_1" d="M 0 0 L 8 9">
				</path>
			</svg>
		</div>
	</div>
	<img id="shoshinelogo" src="../../static/img/shoshinelogo.png" srcset="../../static/img/shoshinelogo.png 1x, ../../static/img/shoshinelogo@2x.png 2x">
		
</div>
<div id="Home_medium">
	<img id="Rectangle_5_cl" src="../../static/Rectangle_5_cl.png" srcset="../../static/Rectangle_5_cl.png 1x, ../../static/Rectangle_5_cl@2x.png 2x">
		
	<a href="1st_Navigation_Elements.html">
	<div id="Group_3_cm">
		<svg class="Ellipse_2_cn">
			<ellipse id="Ellipse_2_cn" rx="31.366943359375" ry="29.9197998046875" cx="31.366943359375" cy="29.9197998046875">
			</ellipse>
		</svg>
		<svg class="Polygon_1_co" viewBox="0 0 19.288 16.533">
			<path id="Polygon_1_co" d="M 9.644162178039551 0 L 19.2883243560791 16.5328483581543 L 0 16.5328483581543 Z">
			</path>
		</svg>
	</div>
	</a>
	<a href="1st_Navigation_Elements.html">
	<div id="Go_cp">
		<span>Go</span>
	</div>
	</a>
	<div id="n_to_create_your_persona_and_i_cq">
		<span> to create your persona and increase your opportunity to find a job </span>
	</div>
	<div id="Shoshin_Works_cr">
		<span>SHOSHIN </span><span style="color:rgba(134,230,133,1);">WORKS</span>
	</div>
	<div id="Group_4_cs">
		<svg class="Path_4_ct" viewBox="-1636.09 765.802 20.228 2">
			<path id="Path_4_ct" d="M -1636.089599609375 765.8024291992188 L -1615.862060546875 765.8024291992188">
			</path>
		</svg>
		<svg class="Path_5_cu" viewBox="-1625.652 756.611 9.17 18.586">
			<path id="Path_5_cu" d="M -1625.651611328125 775.197021484375 L -1616.481201171875 765.77294921875 L -1625.651611328125 756.611083984375">
			</path>
		</svg>
	</div>
	<a href="Home.html">
	<div id="Home_cv">
		<span>Home</span>
	</div>
	</a>
	<div id="connect_cw">
		<span>connect</span>
	</div>
	<div id="bench_cx">
		<span>bench</span>
	</div>
	<div id="deliver_cy">
		<span>deliver</span>
	</div>
	<div id="about_cz">
		<span>about</span>
	</div>
	<div id="n_1_c">
		<span>01</span>
	</div>
	<div id="n_2_c">
		<span>02</span>
	</div>
	<div id="n_3_c">
		<span>03</span>
	</div>
	<div id="n_4_c">
		<span>04</span>
	</div>
	<div id="n_5_c">
		<span>05</span>
	</div>

    {% if userinfo %}
        <a href="logout">
            <img id="Sample_User_Icon_c" src="{{ userinfo['picture'] }}">
            <p id="username_c">{{ userinfo['name'] }} <br>(Logout)</p>
        </a>
    {% else %}
        <a href="Login.html">
            <svg class="Path_9736_c" viewBox="0 0 131 48">
                <path id="Path_9736_c" d="M 7 0 L 124 0 C 127.8659973144531 0 131 3.134006500244141 131 7 L 131 41 C 131 44.86599349975586 127.8659973144531 48 124 48 L 7 48 C 3.134006500244141 48 0 44.86599349975586 0 41 L 0 7 C 0 3.134006500244141 3.134006500244141 0 7 0 Z">
                </path>
            </svg>
        </a>
        <a href="Login.html">
            <div id="sign_in_c">
                <span>sign in</span>
            </div>
        </a>
    {% endif %}

	<div id="Group_29_c">
		<svg class="Rectangle_3_c">
			<rect id="Rectangle_3_c" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_1_da">
			<span>01</span>
		</div>
	</div>
	<div id="Group_30_da">
		<svg class="Rectangle_3_db">
			<rect id="Rectangle_3_db" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_2_dc">
			<span>02</span>
		</div>
	</div>
	<div id="Group_31_dd">
		<svg class="Rectangle_3_de">
			<rect id="Rectangle_3_de" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_3_df">
			<span>03</span>
		</div>
	</div>
	<div id="Group_32_dg">
		<svg class="Rectangle_3_dh">
			<rect id="Rectangle_3_dh" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_4_di">
			<span>04</span>
		</div>
	</div>
	<div id="Group_33_dj">
		<svg class="Rectangle_3_dk">
			<rect id="Rectangle_3_dk" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_5_dl">
			<span>05</span>
		</div>
	</div>

	<div id="Group_5_dm">
		<svg class="Ellipse_1_dn">
			<ellipse id="Ellipse_1_dn" rx="27" ry="27.5" cx="27" cy="27.5">
			</ellipse>
		</svg>
		<div id="Group_5_do">
			<svg class="Path_4_dp" viewBox="-1636.09 765.802 20.228 2">
				<path id="Path_4_dp" d="M -1636.089599609375 765.8024291992188 L -1615.862060546875 765.8024291992188">
				</path>
			</svg>
			<svg class="Path_5_dq" viewBox="-1625.652 756.611 9.17 18.586">
				<path id="Path_5_dq" d="M -1625.651611328125 775.197021484375 L -1616.481201171875 765.77294921875 L -1625.651611328125 756.611083984375">
				</path>
			</svg>
		</div>
	</div>

	<div id="Group_6_dr">
		<svg class="Ellipse_1_ds">
			<ellipse id="Ellipse_1_ds" rx="29.5" ry="27.5" cx="29.5" cy="27.5">
			</ellipse>
		</svg>
		<div id="Group_5_dt">
			<svg class="Path_4_du" viewBox="-1636.09 765.802 20.228 2">
				<path id="Path_4_du" d="M -1615.862060546875 765.8024291992188 L -1636.089599609375 765.8024291992188">
				</path>
			</svg>
			<svg class="Path_5_dv" viewBox="-1625.652 756.611 9.17 18.586">
				<path id="Path_5_dv" d="M -1616.481201171875 775.197021484375 L -1625.651611328125 765.77294921875 L -1616.481201171875 756.611083984375">
				</path>
			</svg>
		</div>
	</div>
	<div id="Group_7_dw">
		<svg class="Ellipse_1_dx">
			<ellipse id="Ellipse_1_dx" rx="26.895061492919922" ry="27.27285385131836" cx="26.895061492919922" cy="27.27285385131836">
			</ellipse>
		</svg>
		<div id="Group_8_dy">
			<svg class="Ellipse_3_dz">
				<ellipse id="Ellipse_3_dz" rx="9" ry="9" cx="9" cy="9">
				</ellipse>
			</svg>
			<svg class="Line_1_d" viewBox="0 0 8 9">
				<path id="Line_1_d" d="M 0 0 L 8 9">
				</path>
			</svg>
		</div>
	</div>
	<img id="shoshinelogo_d" src="../../static/shoshinelogo_d.png" srcset="../../static/shoshinelogo_d.png 1x, ../../static/shoshinelogo_d@2x.png 2x">
		
</div>
<div id="Home_small">
	<img id="Rectangle_5_d" src="../../static/img/Rectangle_5_d.png" srcset="../../static/img/Rectangle_5_d.png 1x, ../../static/img/Rectangle_5_d@2x.png 2x">
		
	<a href="1st_Navigation_Elements.html">
	<div id="Group_3_d">
		<svg class="Ellipse_2_d">
			<ellipse id="Ellipse_2_d" rx="29.21875" ry="28.679443359375" cx="29.21875" cy="28.679443359375">
			</ellipse>
		</svg>
		<svg class="Polygon_1_d" viewBox="0 0 19.288 16.533">
			<path id="Polygon_1_d" d="M 9.644162178039551 0 L 19.2883243560791 16.5328483581543 L 0 16.5328483581543 Z">
			</path>
		</svg>
	</div>
	</a>
	<a href="1st_Navigation_Elements.html">
	<div id="Go_d">
		<span>Go</span>
	</div>
	</a>
	<div id="n_to_create_your_persona_and_i_d">
		<span> to create your persona and increase your opportunity to find a job </span>
	</div>
	<div id="Shoshin_Works_ea">
		<span>SHOSHIN </span><span style="color:rgba(134,230,133,1);">WORKS</span>
	</div>
	<div id="Group_4_eb">
		<svg class="Path_4_ec" viewBox="-1636.09 765.802 20.228 2">
			<path id="Path_4_ec" d="M -1636.089599609375 765.8024291992188 L -1615.862060546875 765.8024291992188">
			</path>
		</svg>
		<svg class="Path_5_ed" viewBox="-1625.652 756.611 9.17 18.586">
			<path id="Path_5_ed" d="M -1625.651611328125 775.197021484375 L -1616.481201171875 765.77294921875 L -1625.651611328125 756.611083984375">
			</path>
		</svg>
	</div>
	<a href="Home.html">
	<div id="Home_ee">
		<span>Home</span>
	</div>
	</a>
	<div id="connect_ef">
		<span>connect</span>
	</div>
	<div id="bench_eg">
		<span>bench</span>
	</div>
	<div id="deliver_eh">
		<span>deliver</span>
	</div>
	<div id="about_ei">
		<span>about</span>
	</div>
	<div id="n_1_ej">
		<span>01</span>
	</div>
	<div id="n_2_ek">
		<span>02</span>
	</div>
	<div id="n_3_el">
		<span>03</span>
	</div>
	<div id="n_4_em">
		<span>04</span>
	</div>
	<div id="n_5_en">
		<span>05</span>
	</div>

    {% if userinfo %}
        <a href="logout">
            <img id="Sample_User_Icon_eo" src="{{ userinfo['picture'] }}">
            <p id="username_eo">{{ userinfo['name'] }} <br>(Logout)</p>
        </a>
    {% else %}
        <a href="Login.html">
            <svg class="Path_9736_eo" viewBox="0 0 100.37 48">
                <path id="Path_9736_eo" d="M 5.36326265335083 0 L 95.00636291503906 0 C 97.96841430664063 0 100.36962890625 3.134006500244141 100.36962890625 7 L 100.36962890625 41 C 100.36962890625 44.86599349975586 97.96841430664063 48 95.00636291503906 48 L 5.36326265335083 48 C 2.401214122772217 48 0 44.86599349975586 0 41 L 0 7 C 0 3.134006500244141 2.401214122772217 0 5.36326265335083 0 Z">
                </path>
            </svg>
        </a>
        <a href="Login.html">
            <div id="sign_in_ep">
                <span>sign in</span>
            </div>
        </a>
    {% endif %}

	<div id="Group_29_eq">
		<svg class="Rectangle_3_er">
			<rect id="Rectangle_3_er" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_1_es">
			<span>01</span>
		</div>
	</div>
	<div id="Group_30_et">
		<svg class="Rectangle_3_eu">
			<rect id="Rectangle_3_eu" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_2_ev">
			<span>02</span>
		</div>
	</div>
	<div id="Group_31_ew">
		<svg class="Rectangle_3_ex">
			<rect id="Rectangle_3_ex" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_3_ey">
			<span>03</span>
		</div>
	</div>
	<div id="Group_32_ez">
		<svg class="Rectangle_3_e">
			<rect id="Rectangle_3_e" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_4_e">
			<span>04</span>
		</div>
	</div>
	<div id="Group_33_e">
		<svg class="Rectangle_3_fa">
			<rect id="Rectangle_3_fa" rx="0" ry="0" x="0" y="0" width="48" height="216">
			</rect>
		</svg>
		<div id="n_5_e">
			<span>05</span>
		</div>
	</div>

	<div id="Group_5_e">
		<svg class="Ellipse_1_e">
			<ellipse id="Ellipse_1_e" rx="27" ry="27.5" cx="27" cy="27.5">
			</ellipse>
		</svg>
		<div id="Group_5_fa">
			<svg class="Path_4_e" viewBox="-1636.09 765.802 20.228 2">
				<path id="Path_4_e" d="M -1636.089599609375 765.8024291992188 L -1615.862060546875 765.8024291992188">
				</path>
			</svg>
			<svg class="Path_5_e" viewBox="-1625.652 756.611 9.17 18.586">
				<path id="Path_5_e" d="M -1625.651611328125 775.197021484375 L -1616.481201171875 765.77294921875 L -1625.651611328125 756.611083984375">
				</path>
			</svg>
		</div>
	</div>

	<div id="Group_6_fa">
		<svg class="Ellipse_1_fb">
			<ellipse id="Ellipse_1_fb" rx="29" ry="27.5" cx="29" cy="27.5">
			</ellipse>
		</svg>
		<div id="Group_5_fc">
			<svg class="Path_4_fd" viewBox="-1636.09 765.802 20.228 2">
				<path id="Path_4_fd" d="M -1615.862060546875 765.8024291992188 L -1636.089599609375 765.8024291992188">
				</path>
			</svg>
			<svg class="Path_5_fe" viewBox="-1625.652 756.611 9.17 18.586">
				<path id="Path_5_fe" d="M -1616.481201171875 775.197021484375 L -1625.651611328125 765.77294921875 L -1616.481201171875 756.611083984375">
				</path>
			</svg>
		</div>
	</div>
	<div id="Group_7_ff">
		<svg class="Ellipse_1_fg">
			<ellipse id="Ellipse_1_fg" rx="27.5" ry="27.5" cx="27.5" cy="27.5">
			</ellipse>
		</svg>
		<div id="Group_8_fh">
			<svg class="Ellipse_3_fi">
				<ellipse id="Ellipse_3_fi" rx="9" ry="9" cx="9" cy="9">
				</ellipse>
			</svg>
			<svg class="Line_1_fj" viewBox="0 0 8 9">
				<path id="Line_1_fj" d="M 0 0 L 8 9">
				</path>
			</svg>
		</div>
	</div>
	<img id="shoshinelogo_fk" src="../../static/img/shoshinelogo_fk.png" srcset="../../static/img/shoshinelogo_fk.png 1x, ../../static/img/shoshinelogo_fk@2x.png 2x">
		
</div>

</body>
</html>