:root {
	--web-view-ids: Home,Home_medium,Home_small;
	--web-view-name: Home;
	--web-view-id: Home;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-enable-scale-up: false;
	--web-scale-on-resize: true;
	--web-show-scale-controls: false;
	--web-scale-on-double-click: false;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-actual-size-on-double-click: false;
	--web-navigate-on-keypress: false;
	--web-refresh-for-changes: false;
	--web-add-image-compare: false;
	--web-show-by-media-query: true;
	--web-application: false;
	--web-show-navigation-controls: false;
	--web-enable-deep-linking: true;
	--web-is-overlay: false;
}
#Home,
#Home_medium,
#Home_small {
	display: none;
}
@media (min-width: 1920px) {
	.mediaViewInfo {
		--web-view-name: Home;
		--web-view-id: Home;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: fit;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-center-vertically: true;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Home {
		position: absolute;
		display: block;
		width: 1920px;
		height: 1080px;
		background-color: rgba(0,0,0,1);
		overflow-x: hidden;
		overflow-y: auto;
		--web-view-name: Home;
		--web-view-id: Home;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: fit;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-center-vertically: true;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
	}
	#Rectangle_5 {
		opacity: 0.26;
		position: absolute;
		width: 1920px;
		height: 1080px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_3 {
		position: absolute;
		width: 82px;
		height: 82px;
		left: 168px;
		top: 295px;
		overflow: visible;
	}
	#Ellipse_2 {
		fill: rgba(38,128,235,1);
	}
	.Ellipse_2 {
		position: absolute;
		overflow: visible;
		width: 82px;
		height: 82px;
		left: 0px;
		top: 0px;
	}
	#Polygon_1 {
		fill: rgba(134,230,133,1);
	}
	.Polygon_1 {
		overflow: visible;
		position: absolute;
		width: 19.288px;
		height: 16.533px;
		transform: translate(1666.668px, -297.332px) matrix(1,0,0,1,-1635.3121,330.0657) rotate(90deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Go {
		left: 158px;
		top: 747px;
		position: absolute;
		overflow: visible;
		width: 51px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.49px;
	}
	#n_to_create_your_persona_and_i {
		left: 168px;
		top: 642px;
		position: absolute;
		overflow: visible;
		width: 687px;
		white-space: nowrap;
		line-height: 35px;
		margin-top: -7px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.48px;
	}
	#Shoshin_Works {
		left: 168px;
		top: 430px;
		position: absolute;
		overflow: visible;
		width: 1049px;
		white-space: nowrap;
		text-align: left;
		font-family: Space Grotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 135px;
		color: rgba(38,128,235,1);
		letter-spacing: -0.55px;
	}
	#Group_4 {
		position: absolute;
		width: 23.746px;
		height: 18.586px;
		left: 240px;
		top: 761.414px;
		overflow: visible;
	}
	#Path_4 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_4 {
		overflow: visible;
		position: absolute;
		width: 20.228px;
		height: 2px;
		left: 0px;
		top: 9.293px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_5 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_5 {
		overflow: visible;
		position: absolute;
		width: 11.292px;
		height: 19.991px;
		left: 14.576px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Home_bc {
		left: 1144px;
		top: 60px;
		position: absolute;
		overflow: visible;
		width: 57px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(38,128,235,1);
	}
	#connect {
		left: 1246px;
		top: 60px;
		position: absolute;
		overflow: visible;
		width: 75px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(255,255,255,1);
	}
	#bench {
		left: 1380px;
		top: 60px;
		position: absolute;
		overflow: visible;
		width: 58px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(255,255,255,1);
	}
	#deliver {
		left: 1498px;
		top: 60px;
		position: absolute;
		overflow: visible;
		width: 63px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(255,255,255,1);
	}
	#about {
		left: 1627px;
		top: 60px;
		position: absolute;
		overflow: visible;
		width: 54px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(255,255,255,1);
	}
	#n_1 {
		left: 1186px;
		top: 26px;
		position: absolute;
		overflow: visible;
		width: 15px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(38,128,235,1);
	}
	#n_2 {
		left: 1306px;
		top: 26px;
		position: absolute;
		overflow: visible;
		width: 15px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(255,255,255,1);
	}
	#n_3 {
		left: 1426px;
		top: 26px;
		position: absolute;
		overflow: visible;
		width: 15px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(255,255,255,1);
	}
	#n_4 {
		left: 1546px;
		top: 26px;
		position: absolute;
		overflow: visible;
		width: 15px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(255,255,255,1);
	}
	#n_5 {
		left: 1666px;
		top: 26px;
		position: absolute;
		overflow: visible;
		width: 15px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(255,255,255,1);
	}
	#Path_9736 {
		fill: rgba(134,230,133,1);
	}
	.Path_9736 {
		overflow: visible;
		position: absolute;
		width: 131px;
		height: 48px;
		left: 1718px;
		top: 44px;
		transform: matrix(1,0,0,1,0,0);
	}
	#sign_in {
		left: 1755px;
		top: 57px;
		position: absolute;
		overflow: visible;
		width: 59px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,0.867);
	}
	#Group_29 {
		position: absolute;
		width: 48px;
		height: 216px;
		left: 1872px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_3 {
		opacity: 0.06;
		fill: rgba(0,0,0,1);
	}
	.Rectangle_3 {
		position: absolute;
		overflow: visible;
		width: 48px;
		height: 216px;
		left: 0px;
		top: 0px;
	}
	#n_1_bq {
		left: 15px;
		top: 101px;
		position: absolute;
		overflow: visible;
		width: 19px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(54,53,53,1);
	}
	#Group_30 {
		position: absolute;
		width: 48px;
		height: 216px;
		left: 1872px;
		top: 216px;
		overflow: visible;
	}
	#Rectangle_3_bs {
		opacity: 0.059;
		fill: rgba(0,0,0,1);
	}
	.Rectangle_3_bs {
		position: absolute;
		overflow: visible;
		width: 48px;
		height: 216px;
		left: 0px;
		top: 0px;
	}
	#n_2_bt {
		left: 15px;
		top: 101px;
		position: absolute;
		overflow: visible;
		width: 19px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(54,53,53,1);
	}
	#Group_31 {
		position: absolute;
		width: 48px;
		height: 216px;
		left: 1872px;
		top: 432px;
		overflow: visible;
	}
	#Rectangle_3_bv {
		opacity: 0.059;
		fill: rgba(0,0,0,1);
	}
	.Rectangle_3_bv {
		position: absolute;
		overflow: visible;
		width: 48px;
		height: 216px;
		left: 0px;
		top: 0px;
	}
	#n_3_bw {
		left: 15px;
		top: 101px;
		position: absolute;
		overflow: visible;
		width: 19px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(54,53,53,1);
	}
	#Group_32 {
		position: absolute;
		width: 48px;
		height: 216px;
		left: 1872px;
		top: 648px;
		overflow: visible;
	}
	#Rectangle_3_by {
		opacity: 0.059;
		fill: rgba(0,0,0,1);
	}
	.Rectangle_3_by {
		position: absolute;
		overflow: visible;
		width: 48px;
		height: 216px;
		left: 0px;
		top: 0px;
	}
	#n_4_bz {
		left: 15px;
		top: 101px;
		position: absolute;
		overflow: visible;
		width: 19px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(54,53,53,1);
	}
	#Group_33 {
		position: absolute;
		width: 48px;
		height: 216px;
		left: 1872px;
		top: 864px;
		overflow: visible;
	}
	#Rectangle_3_b {
		opacity: 0.12;
		fill: rgba(0,0,0,1);
	}
	.Rectangle_3_b {
		position: absolute;
		overflow: visible;
		width: 48px;
		height: 216px;
		left: 0px;
		top: 0px;
	}
	#n_5_b {
		left: 15px;
		top: 101px;
		position: absolute;
		overflow: visible;
		width: 19px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(54,53,53,1);
	}
	#Group_5 {
		position: absolute;
		width: 70px;
		height: 70px;
		left: 1759px;
		top: 963px;
		overflow: visible;
	}
	#Ellipse_1 {
		fill: rgba(230,230,232,1);
	}
	.Ellipse_1 {
		position: absolute;
		overflow: visible;
		width: 70px;
		height: 70px;
		left: 0px;
		top: 0px;
	}
	#Group_5_b {
		position: absolute;
		width: 20.608px;
		height: 18.586px;
		left: 25px;
		top: 26px;
		overflow: visible;
	}
	#Path_4_b {
		fill: transparent;
		stroke: rgba(7,7,7,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_4_b {
		overflow: visible;
		position: absolute;
		width: 20.228px;
		height: 2px;
		left: 0px;
		top: 9.191px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_5_b {
		fill: transparent;
		stroke: rgba(7,7,7,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_5_b {
		overflow: visible;
		position: absolute;
		width: 11.292px;
		height: 19.991px;
		left: 11.438px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_6 {
		position: absolute;
		width: 70px;
		height: 70px;
		left: 1674px;
		top: 963px;
		overflow: visible;
	}
	#Ellipse_1_b {
		fill: rgba(230,230,232,1);
	}
	.Ellipse_1_b {
		position: absolute;
		overflow: visible;
		width: 70px;
		height: 70px;
		left: 0px;
		top: 0px;
	}
	#Group_5_ca {
		position: absolute;
		width: 20.608px;
		height: 18.586px;
		left: 24.392px;
		top: 26px;
		overflow: visible;
	}
	#Path_4_cb {
		fill: transparent;
		stroke: rgba(7,7,7,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_4_cb {
		overflow: visible;
		position: absolute;
		width: 20.228px;
		height: 2px;
		left: 0.381px;
		top: 9.191px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_5_cc {
		fill: transparent;
		stroke: rgba(7,7,7,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_5_cc {
		overflow: visible;
		position: absolute;
		width: 11.292px;
		height: 19.991px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_7 {
		position: absolute;
		width: 70px;
		height: 70px;
		left: 59px;
		top: 963px;
		overflow: visible;
	}
	#Ellipse_1_ce {
		fill: rgba(230,230,232,1);
	}
	.Ellipse_1_ce {
		position: absolute;
		overflow: visible;
		width: 70px;
		height: 70px;
		left: 0px;
		top: 0px;
	}
	#Group_8 {
		position: absolute;
		width: 22.5px;
		height: 23.5px;
		left: 24px;
		top: 23px;
		overflow: visible;
	}
	#Ellipse_3 {
		fill: transparent;
		stroke: rgba(38,38,38,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Ellipse_3 {
		position: absolute;
		overflow: visible;
		width: 18px;
		height: 18px;
		left: 0px;
		top: 0px;
	}
	#Line_1 {
		fill: transparent;
		stroke: rgba(29,29,29,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_1 {
		overflow: visible;
		position: absolute;
		width: 9.495px;
		height: 10.329px;
		left: 14.5px;
		top: 14.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#shoshinelogo {
		position: absolute;
		width: 85px;
		height: 85px;
		left: 52px;
		top: 34px;
		overflow: visible;
	}
}
@media (min-width: 1366px) and (max-width: 1919px) {
	.mediaViewInfo {
		--web-view-name: Home (medium);
		--web-view-id: Home_medium;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-center-vertically: true;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Home_medium {
		position: absolute;
		display: block;
		width: 1366px;
		height: 768px;
		background-color: rgba(0,0,0,1);
		overflow-x: hidden;
		overflow-y: auto;
		--web-view-name: Home (medium);
		--web-view-id: Home_medium;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-center-vertically: true;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
	}
	#Rectangle_5_cl {
		opacity: 0.26;
		position: absolute;
		width: 1366px;
		height: 768px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_3_cm {
		position: absolute;
		width: 62.734px;
		height: 59.84px;
		left: 168px;
		top: 202.776px;
		overflow: visible;
	}
	#Ellipse_2_cn {
		fill: rgba(38,128,235,1);
	}
	.Ellipse_2_cn {
		position: absolute;
		overflow: visible;
		width: 62.734px;
		height: 59.84px;
		left: 0px;
		top: 0px;
	}
	#Polygon_1_co {
		fill: rgba(134,230,133,1);
	}
	.Polygon_1_co {
		overflow: visible;
		position: absolute;
		width: 19.288px;
		height: 16.533px;
		transform: translate(0px, 0px) matrix(1,0,0,1,21.7227,21.6534) rotate(90deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Go_cp {
		left: 162px;
		top: 523px;
		position: absolute;
		overflow: visible;
		width: 43px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 29px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.49px;
	}
	#n_to_create_your_persona_and_i_cq {
		left: 168px;
		top: 451.533px;
		position: absolute;
		overflow: visible;
		width: 524px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.48px;
	}
	#Shoshin_Works_cr {
		left: 168px;
		top: 305.778px;
		position: absolute;
		overflow: visible;
		width: 536px;
		white-space: nowrap;
		text-align: left;
		font-family: Space Grotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 69px;
		color: rgba(38,128,235,1);
		letter-spacing: -0.55px;
	}
	#Group_4_cs {
		position: absolute;
		width: 23.746px;
		height: 18.586px;
		left: 230.734px;
		top: 529.707px;
		overflow: visible;
	}
	#Path_4_ct {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_4_ct {
		overflow: visible;
		position: absolute;
		width: 20.228px;
		height: 2px;
		left: 0px;
		top: 9.293px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_5_cu {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_5_cu {
		overflow: visible;
		position: absolute;
		width: 11.292px;
		height: 19.991px;
		left: 14.576px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Home_cv {
		left: 655px;
		top: 60px;
		position: absolute;
		overflow: visible;
		width: 57px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(38,128,235,1);
	}
	#connect_cw {
		left: 745.065px;
		top: 60px;
		position: absolute;
		overflow: visible;
		width: 75px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(255,255,255,1);
	}
	#bench_cx {
		left: 852.177px;
		top: 60px;
		position: absolute;
		overflow: visible;
		width: 58px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(255,255,255,1);
	}
	#deliver_cy {
		left: 947px;
		top: 61px;
		position: absolute;
		overflow: visible;
		width: 63px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(255,255,255,1);
	}
	#about_cz {
		left: 1054px;
		top: 60px;
		position: absolute;
		overflow: visible;
		width: 54px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(255,255,255,1);
	}
	#n_1_c {
		left: 692.285px;
		top: 26px;
		position: absolute;
		overflow: visible;
		width: 15px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(38,128,235,1);
	}
	#n_2_c {
		left: 799.397px;
		top: 26px;
		position: absolute;
		overflow: visible;
		width: 15px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(255,255,255,1);
	}
	#n_3_c {
		left: 894.065px;
		top: 26px;
		position: absolute;
		overflow: visible;
		width: 15px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(255,255,255,1);
	}
	#n_4_c {
		left: 1001px;
		top: 26px;
		position: absolute;
		overflow: visible;
		width: 15px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(255,255,255,1);
	}
	#n_5_c {
		left: 1093px;
		top: 26px;
		position: absolute;
		overflow: visible;
		width: 15px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(255,255,255,1);
	}
	#Path_9736_c {
		fill: rgba(134,230,133,1);
	}
	.Path_9736_c {
		overflow: visible;
		position: absolute;
		width: 131px;
		height: 48px;
		left: 1164px;
		top: 44px;
		transform: matrix(1,0,0,1,0,0);
	}
	#sign_in_c {
		left: 1201px;
		top: 57px;
		position: absolute;
		overflow: visible;
		width: 59px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,0.867);
	}
	#Group_29_c {
		position: absolute;
		width: 48px;
		height: 216px;
		left: 1318px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_3_c {
		opacity: 0.06;
		fill: rgba(0,0,0,1);
	}
	.Rectangle_3_c {
		position: absolute;
		overflow: visible;
		width: 48px;
		height: 216px;
		left: 0px;
		top: 0px;
	}
	#n_1_da {
		left: 15px;
		top: 101px;
		position: absolute;
		overflow: visible;
		width: 19px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(54,53,53,1);
	}
	#Group_30_da {
		position: absolute;
		width: 48px;
		height: 216px;
		left: 1318px;
		top: 138px;
		overflow: visible;
	}
	#Rectangle_3_db {
		opacity: 0.059;
		fill: rgba(0,0,0,1);
	}
	.Rectangle_3_db {
		position: absolute;
		overflow: visible;
		width: 48px;
		height: 216px;
		left: 0px;
		top: 0px;
	}
	#n_2_dc {
		left: 15px;
		top: 101px;
		position: absolute;
		overflow: visible;
		width: 19px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(54,53,53,1);
	}
	#Group_31_dd {
		position: absolute;
		width: 48px;
		height: 216px;
		left: 1318px;
		top: 276px;
		overflow: visible;
	}
	#Rectangle_3_de {
		opacity: 0.059;
		fill: rgba(0,0,0,1);
	}
	.Rectangle_3_de {
		position: absolute;
		overflow: visible;
		width: 48px;
		height: 216px;
		left: 0px;
		top: 0px;
	}
	#n_3_df {
		left: 15px;
		top: 101px;
		position: absolute;
		overflow: visible;
		width: 19px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(54,53,53,1);
	}
	#Group_32_dg {
		position: absolute;
		width: 48px;
		height: 216px;
		left: 1318px;
		top: 414px;
		overflow: visible;
	}
	#Rectangle_3_dh {
		opacity: 0.059;
		fill: rgba(0,0,0,1);
	}
	.Rectangle_3_dh {
		position: absolute;
		overflow: visible;
		width: 48px;
		height: 216px;
		left: 0px;
		top: 0px;
	}
	#n_4_di {
		left: 15px;
		top: 101px;
		position: absolute;
		overflow: visible;
		width: 19px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(54,53,53,1);
	}
	#Group_33_dj {
		position: absolute;
		width: 48px;
		height: 216px;
		left: 1318px;
		top: 552px;
		overflow: visible;
	}
	#Rectangle_3_dk {
		opacity: 0.12;
		fill: rgba(0,0,0,1);
	}
	.Rectangle_3_dk {
		position: absolute;
		overflow: visible;
		width: 48px;
		height: 216px;
		left: 0px;
		top: 0px;
	}
	#n_5_dl {
		left: 15px;
		top: 101px;
		position: absolute;
		overflow: visible;
		width: 19px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(54,53,53,1);
	}
	#Group_5_dm {
		position: absolute;
		width: 54px;
		height: 55px;
		left: 1205px;
		top: 651px;
		overflow: visible;
	}
	#Ellipse_1_dn {
		fill: rgba(230,230,232,1);
	}
	.Ellipse_1_dn {
		position: absolute;
		overflow: visible;
		width: 54px;
		height: 55px;
		left: 0px;
		top: 0px;
	}
	#Group_5_do {
		position: absolute;
		width: 20.608px;
		height: 18.586px;
		left: 16.901px;
		top: 18.492px;
		overflow: visible;
	}
	#Path_4_dp {
		fill: transparent;
		stroke: rgba(7,7,7,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_4_dp {
		overflow: visible;
		position: absolute;
		width: 20.228px;
		height: 2px;
		left: 0px;
		top: 9.191px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_5_dq {
		fill: transparent;
		stroke: rgba(7,7,7,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_5_dq {
		overflow: visible;
		position: absolute;
		width: 11.292px;
		height: 19.991px;
		left: 11.438px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_6_dr {
		position: absolute;
		width: 59px;
		height: 55px;
		left: 1120px;
		top: 651px;
		overflow: visible;
	}
	#Ellipse_1_ds {
		fill: rgba(230,230,232,1);
	}
	.Ellipse_1_ds {
		position: absolute;
		overflow: visible;
		width: 59px;
		height: 55px;
		left: 0px;
		top: 0px;
	}
	#Group_5_dt {
		position: absolute;
		width: 20.608px;
		height: 18.586px;
		left: 19.1px;
		top: 18.492px;
		overflow: visible;
	}
	#Path_4_du {
		fill: transparent;
		stroke: rgba(7,7,7,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_4_du {
		overflow: visible;
		position: absolute;
		width: 20.228px;
		height: 2px;
		left: 0.381px;
		top: 9.191px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_5_dv {
		fill: transparent;
		stroke: rgba(7,7,7,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_5_dv {
		overflow: visible;
		position: absolute;
		width: 11.292px;
		height: 19.991px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_7_dw {
		transform: matrix(1,0,0,1,58.8664,651.1426) rotate(-1deg);
		transform-origin: center;
		position: absolute;
		width: 53.79px;
		height: 54.546px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Ellipse_1_dx {
		fill: rgba(230,230,232,1);
	}
	.Ellipse_1_dx {
		position: absolute;
		overflow: visible;
		width: 54.734px;
		height: 55.476px;
		left: 0px;
		top: 0px;
	}
	#Group_8_dy {
		position: absolute;
		width: 22.5px;
		height: 23.5px;
		left: 16.075px;
		top: 15.624px;
		overflow: visible;
	}
	#Ellipse_3_dz {
		fill: transparent;
		stroke: rgba(38,38,38,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Ellipse_3_dz {
		position: absolute;
		overflow: visible;
		width: 18.312px;
		height: 18.311px;
		left: 0px;
		top: 0.079px;
	}
	#Line_1_d {
		fill: transparent;
		stroke: rgba(29,29,29,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_1_d {
		overflow: visible;
		position: absolute;
		width: 9.674px;
		height: 10.493px;
		left: 14.751px;
		top: 14.498px;
		transform: matrix(1,0,0,1,0,0);
	}
	#shoshinelogo_d {
		position: absolute;
		width: 74px;
		height: 74px;
		left: 39px;
		top: 35px;
		overflow: visible;
	}
}
@media (min-width: 0px) and (max-width: 1365px) {
	.mediaViewInfo {
		--web-view-name: Home (small);
		--web-view-id: Home_small;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-center-vertically: true;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Home_small {
		position: absolute;
		display: block;
		width: 1280px;
		height: 800px;
		background-color: rgba(0,0,0,1);
		overflow-x: hidden;
		overflow-y: auto;
		--web-view-name: Home (small);
		--web-view-id: Home_small;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-center-vertically: true;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
	}
	#Rectangle_5_d {
		opacity: 0.26;
		position: absolute;
		width: 1280px;
		height: 800px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_3_d {
		position: absolute;
		width: 58.438px;
		height: 57.359px;
		left: 168px;
		top: 212.234px;
		overflow: visible;
	}
	#Ellipse_2_d {
		fill: rgba(38,128,235,1);
	}
	.Ellipse_2_d {
		position: absolute;
		overflow: visible;
		width: 58.438px;
		height: 57.359px;
		left: 0px;
		top: 0px;
	}
	#Polygon_1_d {
		fill: rgba(134,230,133,1);
	}
	.Polygon_1_d {
		overflow: visible;
		position: absolute;
		width: 19.288px;
		height: 16.533px;
		transform: translate(0px, 0px) matrix(1,0,0,1,19.5745,20.413) rotate(90deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Go_d {
		left: 158px;
		top: 546.078px;
		position: absolute;
		overflow: visible;
		width: 51px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.49px;
	}
	#n_to_create_your_persona_and_i_d {
		left: 168px;
		top: 470.556px;
		position: absolute;
		overflow: visible;
		width: 491px;
		white-space: nowrap;
		line-height: 16px;
		margin-top: -0.5px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.48px;
	}
	#Shoshin_Works_ea {
		left: 168px;
		top: 318.519px;
		position: absolute;
		overflow: visible;
		width: 513px;
		white-space: nowrap;
		text-align: left;
		font-family: Space Grotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 66px;
		color: rgba(38,128,235,1);
		letter-spacing: -0.55px;
	}
	#Group_4_eb {
		position: absolute;
		width: 23.746px;
		height: 18.586px;
		left: 240px;
		top: 560.554px;
		overflow: visible;
	}
	#Path_4_ec {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_4_ec {
		overflow: visible;
		position: absolute;
		width: 20.228px;
		height: 2px;
		left: 0px;
		top: 9.293px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_5_ed {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_5_ed {
		overflow: visible;
		position: absolute;
		width: 11.292px;
		height: 19.991px;
		left: 14.576px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Home_ee {
		left: 637px;
		top: 60px;
		position: absolute;
		overflow: visible;
		width: 57px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(38,128,235,1);
	}
	#connect_ef {
		left: 724.552px;
		top: 60px;
		position: absolute;
		overflow: visible;
		width: 75px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(255,255,255,1);
	}
	#bench_eg {
		left: 829.702px;
		top: 60px;
		position: absolute;
		overflow: visible;
		width: 58px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(255,255,255,1);
	}
	#deliver_eh {
		left: 917.851px;
		top: 60px;
		position: absolute;
		overflow: visible;
		width: 63px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(255,255,255,1);
	}
	#about_ei {
		left: 1011px;
		top: 60px;
		position: absolute;
		overflow: visible;
		width: 54px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(255,255,255,1);
	}
	#n_1_ej {
		left: 676.552px;
		top: 26px;
		position: absolute;
		overflow: visible;
		width: 15px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(38,128,235,1);
	}
	#n_2_ek {
		left: 780.469px;
		top: 26px;
		position: absolute;
		overflow: visible;
		width: 15px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(255,255,255,1);
	}
	#n_3_el {
		left: 872.183px;
		top: 26px;
		position: absolute;
		overflow: visible;
		width: 15px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(255,255,255,1);
	}
	#n_4_em {
		left: 964px;
		top: 26px;
		position: absolute;
		overflow: visible;
		width: 15px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(255,255,255,1);
	}
	#n_5_en {
		left: 1050px;
		top: 26px;
		position: absolute;
		overflow: visible;
		width: 15px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		color: rgba(255,255,255,1);
	}
	#Path_9736_eo {
		fill: rgba(134,230,133,1);
	}
	.Path_9736_eo {
		overflow: visible;
		position: absolute;
		width: 100.37px;
		height: 48px;
		left: 1092.404px;
		top: 44px;
		transform: matrix(1,0,0,1,0,0);
	}
	#sign_in_ep {
		left: 1115px;
		top: 57px;
		position: absolute;
		overflow: visible;
		width: 59px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,0.867);
	}
	#Group_29_eq {
		position: absolute;
		width: 48px;
		height: 216px;
		left: 1232px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_3_er {
		opacity: 0.06;
		fill: rgba(0,0,0,1);
	}
	.Rectangle_3_er {
		position: absolute;
		overflow: visible;
		width: 48px;
		height: 216px;
		left: 0px;
		top: 0px;
	}
	#n_1_es {
		left: 15px;
		top: 101px;
		position: absolute;
		overflow: visible;
		width: 19px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(54,53,53,1);
	}
	#Group_30_et {
		position: absolute;
		width: 48px;
		height: 216px;
		left: 1232px;
		top: 146px;
		overflow: visible;
	}
	#Rectangle_3_eu {
		opacity: 0.059;
		fill: rgba(0,0,0,1);
	}
	.Rectangle_3_eu {
		position: absolute;
		overflow: visible;
		width: 48px;
		height: 216px;
		left: 0px;
		top: 0px;
	}
	#n_2_ev {
		left: 15px;
		top: 101px;
		position: absolute;
		overflow: visible;
		width: 19px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(54,53,53,1);
	}
	#Group_31_ew {
		position: absolute;
		width: 48px;
		height: 216px;
		left: 1232px;
		top: 292px;
		overflow: visible;
	}
	#Rectangle_3_ex {
		opacity: 0.059;
		fill: rgba(0,0,0,1);
	}
	.Rectangle_3_ex {
		position: absolute;
		overflow: visible;
		width: 48px;
		height: 216px;
		left: 0px;
		top: 0px;
	}
	#n_3_ey {
		left: 15px;
		top: 101px;
		position: absolute;
		overflow: visible;
		width: 19px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(54,53,53,1);
	}
	#Group_32_ez {
		position: absolute;
		width: 48px;
		height: 216px;
		left: 1232px;
		top: 438px;
		overflow: visible;
	}
	#Rectangle_3_e {
		opacity: 0.059;
		fill: rgba(0,0,0,1);
	}
	.Rectangle_3_e {
		position: absolute;
		overflow: visible;
		width: 48px;
		height: 216px;
		left: 0px;
		top: 0px;
	}
	#n_4_e {
		left: 15px;
		top: 101px;
		position: absolute;
		overflow: visible;
		width: 19px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(54,53,53,1);
	}
	#Group_33_e {
		position: absolute;
		width: 48px;
		height: 216px;
		left: 1232px;
		top: 584px;
		overflow: visible;
	}
	#Rectangle_3_fa {
		opacity: 0.12;
		fill: rgba(0,0,0,1);
	}
	.Rectangle_3_fa {
		position: absolute;
		overflow: visible;
		width: 48px;
		height: 216px;
		left: 0px;
		top: 0px;
	}
	#n_5_e {
		left: 15px;
		top: 101px;
		position: absolute;
		overflow: visible;
		width: 19px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(54,53,53,1);
	}
	#Group_5_e {
		position: absolute;
		width: 54px;
		height: 55px;
		left: 1119px;
		top: 683px;
		overflow: visible;
	}
	#Ellipse_1_e {
		fill: rgba(230,230,232,1);
	}
	.Ellipse_1_e {
		position: absolute;
		overflow: visible;
		width: 54px;
		height: 55px;
		left: 0px;
		top: 0px;
	}
	#Group_5_fa {
		position: absolute;
		width: 20.608px;
		height: 18.586px;
		left: 16.901px;
		top: 18.415px;
		overflow: visible;
	}
	#Path_4_e {
		fill: transparent;
		stroke: rgba(7,7,7,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_4_e {
		overflow: visible;
		position: absolute;
		width: 20.228px;
		height: 2px;
		left: 0px;
		top: 9.191px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_5_e {
		fill: transparent;
		stroke: rgba(7,7,7,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_5_e {
		overflow: visible;
		position: absolute;
		width: 11.292px;
		height: 19.991px;
		left: 11.438px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_6_fa {
		position: absolute;
		width: 58px;
		height: 55px;
		left: 1034px;
		top: 683px;
		overflow: visible;
	}
	#Ellipse_1_fb {
		fill: rgba(230,230,232,1);
	}
	.Ellipse_1_fb {
		position: absolute;
		overflow: visible;
		width: 58px;
		height: 55px;
		left: 0px;
		top: 0px;
	}
	#Group_5_fc {
		position: absolute;
		width: 20.608px;
		height: 18.586px;
		left: 18.665px;
		top: 18.415px;
		overflow: visible;
	}
	#Path_4_fd {
		fill: transparent;
		stroke: rgba(7,7,7,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_4_fd {
		overflow: visible;
		position: absolute;
		width: 20.228px;
		height: 2px;
		left: 0.381px;
		top: 9.191px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_5_fe {
		fill: transparent;
		stroke: rgba(7,7,7,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_5_fe {
		overflow: visible;
		position: absolute;
		width: 11.292px;
		height: 19.991px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_7_ff {
		position: absolute;
		width: 55px;
		height: 55px;
		left: 59px;
		top: 683px;
		overflow: visible;
	}
	#Ellipse_1_fg {
		fill: rgba(230,230,232,1);
	}
	.Ellipse_1_fg {
		position: absolute;
		overflow: visible;
		width: 55px;
		height: 55px;
		left: 0px;
		top: 0px;
	}
	#Group_8_fh {
		position: absolute;
		width: 22.697px;
		height: 23.301px;
		left: 16px;
		top: 16px;
		overflow: visible;
	}
	#Ellipse_3_fi {
		fill: transparent;
		stroke: rgba(38,38,38,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Ellipse_3_fi {
		position: absolute;
		overflow: visible;
		width: 18px;
		height: 18px;
		left: 0px;
		top: 0px;
	}
	#Line_1_fj {
		fill: transparent;
		stroke: rgba(29,29,29,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_1_fj {
		overflow: visible;
		position: absolute;
		width: 9.495px;
		height: 10.329px;
		left: 14.697px;
		top: 14.301px;
		transform: matrix(1,0,0,1,0,0);
	}
	#shoshinelogo_fk {
		position: absolute;
		width: 74px;
		height: 74px;
		left: 40px;
		top: 46px;
		overflow: visible;
	}
}
